﻿@model Library.Winplus.syslib.standard.seller.model.Seller


<div class="col-lg-12">
    <div class="ibox float-e-margins">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>
                            @MyResources.Winplus.Resource.SellerProfile
                        </h2>
                    </div>
                </div>
            <div class="ibox-content">
                <div class="row">
                    @Html.HiddenFor(model => model.SellerId)
                    @{
                        var newContact = new Library.Winplus.syslib.standard.sellercontact.model.SellerContact();
                    }
                    @Html.Partial("~/Views/seller/contactlist_item.cshtml",newContact)

                   @foreach (var contact in Model.SellerContacts)
                   { 
                       @Html.Partial("~/Views/seller/contactlist_item.cshtml",contact)
                   }
	               
                </div>
            </div>
    </div>
</div>

<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
    }

    function _initialSubmitForm() {
    }

    function SaveCallBack(data, status) {
        if (data.StatusCode == "0") {
            LoadPartialForm('@Url.Content("~/seller/ContactList")');
        } else {
            alert(data.Message);
        }
    }

    function DeleteSellerContact(id) {
        var url = "@Url.Content("~/Seller/DeleteContact/")" + id;
        ajaxUrlRequest(url, DeleteSellerContactResponse)
    }

    function DeleteSellerContactResponse(data) {
        if (data.StatusCode == "0") {
            LoadPartialForm('@Url.Content("~/seller/ContactList")');
        } else {
            alert(data.Message);
        }
    }
</script>

