﻿@model Library.Winplus.syslib.standard.sellercontact.model.SellerContact

<form method="post" class="form-horizontal" action="@Url.Content("~/seller/SaveContact")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save-@Model.SellerContactId',SaveCallBack);">
    @Html.HiddenFor(model=>model.SellerContactId)
    <div class="row">
	    <div class="form-group col-sm-6">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FirstName)<span class="span-required">*</span></label>
		    <div class="col-sm-8">
			    @Html.TextBoxFor(model=>model.FirstName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.FirstName),@required=""})
		    </div>
	    </div>
	    <div class="form-group col-sm-6">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LastName)<span class="span-required">*</span></label>
		    <div class="col-sm-8">
			    @Html.TextBoxFor(model=>model.LastName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LastName),@required=""})
		    </div>
	    </div>
	    <div class="form-group col-sm-6">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Position)</label>
		    <div class="col-sm-8">
			    @Html.TextBoxFor(model=>model.Position, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Position)})
		    </div>
	    </div>
	    <div class="form-group col-sm-6">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Email)</label>
		    <div class="col-sm-8">
			    @Html.TextBoxFor(model=>model.Email, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Email)})
		    </div>
	    </div>
	    <div class="form-group col-sm-6">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PhoneNo)</label>
		    <div class="col-sm-8">
                <div class="input-group">
                    @Html.DropDownListFor(model => model.CountryCodeId,Model.GetSelectedItems("CountryCode", Model.CountryCodeId,""), new { @class = "form-control",@style="width:35%;" })
			        @Html.TextBoxFor(model=>model.PhoneNo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.PhoneNo),@style="width:65%;"})
		        </div>
            </div>
	    </div>
    </div>
    <hr />
    <div class="form-group col-sm-12 m-b-lg" style="text-align:right;">
            @if(Model.SellerContactId.HasValue){
                <button class="btn ladda-button btn-primary" style="width: 100px; height: 40px;" data-style="expand-left" type="submit" id="btn-save-@Model.SellerContactId">@MyResources.Winplus.Resource.SaveChange</button>

                <button class="btn ladda-button btn-white" style="width: 100px; height: 40px;" data-style="expand-left" type="button" onclick="DeleteSellerContact(@Model.SellerContactId);">@MyResources.Winplus.Resource.Delete</button>
            }
            else
            {
                <button class="btn ladda-button btn-primary pull-right" style="width: 100px; height: 40px;" data-style="expand-left" type="submit" id="btn-save-">@MyResources.Winplus.Resource.Added</button>
            }
    </div>
</form>