﻿@model Library.Winplus.syslib.standard.seller.model.Seller


<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/Seller/Save")" enctype="multipart/form-data">
           @Html.Partial("~/Views/seller/editprofile_form.cshtml", Model)
        </form>
    </div>
</div>

<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
        $('.chosen-select').chosen({ width: "560px;" });
    }

    function _initialSubmitForm() {
    }

    function SaveCallBack(data, status) {
        if (data.StatusCode == "0") {
            alert("@MyResources.Winplus.Resource.SaveCompleted");
        } else {
            alert(data.Message);
        }
    }

</script>

