﻿@model Library.Winplus.syslib.standard.seller.model.Seller


<div class="row">
    <div class="col-sm-12">
        <h2>
            @MyResources.Winplus.Resource.SellerProfile
        </h2>
    </div>
</div>
<div class="ibox-content">
    <div class="row">
        @Html.HiddenFor(model => model.SubmitAction)

        @Html.HiddenFor(model => model.SellerId)
        @Html.HiddenFor(model => model.SellerName)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.BirthDate)
        @Html.HiddenFor(model => model.IsConfirmEmail)
        @Html.HiddenFor(model => model.ConfirmEmailDate)
        @Html.HiddenFor(model => model.OrganizationId)
        @Html.HiddenFor(model => model.ActiveStatusId)


        @Html.HiddenFor(model => model.BankAccountId)
        @Html.HiddenFor(model => model.BankAccount.BankAccountId)

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FirstName)<span class="span-required">*</span></label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.FirstName), @required = "" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LastName)<span class="span-required">*</span></label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.LastName), @required = "" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.GenderId</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.GenderId, Model.GetSelectedItems("Gender", Model.GenderId, ""), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CitizenId)</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.CitizenId, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.CitizenId) })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Email)</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Email) })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CountryCodeId)</label>
            <div class="col-sm-8">
                <div class="input-group">
                    @Html.DropDownListFor(model => model.CountryCodeId, Model.GetSelectedItems("CountryCode", Model.CountryCodeId, ""), new { @class = "form-control",@style="width:35%;" })
                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.PhoneNo),@style="width:65%;" })
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Address)</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Address) })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.Country</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.CountryId,Model.GetSelectedItems("Country", Model.CountryId,""), new { @class = "form-control",@onchange="RefreshEditForm('Country');" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.Province</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.ProvinceId,Model.GetSelectedItems("Province", null,"",((Model.CountryId.HasValue?"and CountryId="+Model.CountryId.Value:"and 1<>1"))), new { @class = "form-control",@onchange="RefreshEditForm('Province');" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.District</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.DistrictId,Model.GetSelectedItems("District", null,"",((Model.ProvinceId.HasValue?"and ProvinceId="+Model.ProvinceId.Value:"and 1<>1"))), new { @class = "form-control",@onchange="RefreshEditForm('District');" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.SubDistrict</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.SubDistrictId,Model.GetSelectedItems("SubDistrict", null,"",((Model.DistrictId.HasValue?"and DistrictId="+Model.DistrictId.Value:"and 1<>1"))), new { @class = "form-control",@onchange="RefreshEditForm('SubDistrict');" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.PostalCode</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.PostalCodeId,Model.GetSelectedItems("PostalCode", null,"",((Model.SubDistrictId.HasValue?"and SubDistrictId="+Model.SubDistrictId.Value:"and 1<>1"))), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.SellerTypeId<span class="span-required">*</span></label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.SellerTypeId, Model.GetSelectedItems("SellerType", Model.SellerTypeId, ""), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CompanyName)</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.CompanyName) })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.LanguageId<span class="span-required">*</span></label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.LanguageId, Model.GetSelectedItems("Language", Model.LanguageId, ""), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.Currency<span class="span-required">*</span></label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.CurrencyId, Model.GetSelectedItems("Currency", Model.CurrencyId, ""), new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>@MyResources.Winplus.Resource.EditProfile_TitleBank</h2>
    </div>
</div>
<div class="ibox-content">
    <div class="row">
        <div class="m-b-md">
            <h4>@MyResources.Winplus.Resource.EditProfile_TitleBank2</h4>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BankAccount.BankAccountName)<span class="span-required">*</span></label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.BankAccount.BankAccountName, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.BankAccount.BankAccountName), @required = "" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BankAccount.AccountNo)<span class="span-required">*</span></label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.BankAccount.AccountNo, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.BankAccount.AccountNo), @required = "" })
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BankAccount.BankId)</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.BankAccount.BankId, Model.GetSelectedItems("Bank", Model.BankAccount.BankId, ""), new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="ibox-content">
    <div class="form-group col-sm-12">
        <div class="col-sm-12" style="text-align:right;">
            <button onclick="PrepareSave();" class="btn ladda-button btn-primary" data-style="expand-left" style="height: 42px; width: 100px;" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
            <button class="btn ladda-button btn-white" data-style="expand-left" style="height: 42px; width: 100px;" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
        </div>
    </div>
</div>
<script>
    function PrepareSave() {
        $("#SubmitAction").val("Save");

        var form = $('#addeditform-1');
        form.unbind('submit');
        form.on('submit', function (event) {
            _initialSubmitForm();
            ajaxSubmitForm(event, this, 'btn-save', SaveCallBack);
        });
        form.submit();
    }

    function RefreshEditForm(field) {
        $("#SubmitAction").val("Refresh-"+field);

        var form = $('#addeditform-1');
        form.unbind('submit');
        form.on('submit', function (event) {
            ajaxSubmitFormPartial(event, this, null, RefreshEditFormResponse);
        });
        form.submit();
    }

    function RefreshEditFormResponse(data, status) {
        $("#addeditform-1").html(data);
    }
</script>