﻿@model Library.Winplus.syslib.standard.seller.model.Seller
@{
    Library.Winplus.syslib.customize.loginseller.model.LoginSeller loginSeller = new Library.Winplus.syslib.customize.loginseller.repository.LoginSellerRepository().FindByTokenId(Request, Session.SessionID);
}

<div class="row">
    <div class="col-sm-3">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="normal_link">
                        <a href="javascript:LoadPartialForm('@Url.Content("~/seller/Find")');">
                            <i class="fa fa-location-arrow"></i>
                            <span class="nav-label">@MyResources.Winplus.Resource.SellerProfile</span>
                        </a>
                    </li>
                    <li class="normal_link">
                        <a href="javascript:LoadPartialForm('@Url.Content("~/seller/ContactList")');">
                            <i class="fa fa-bars"></i>
                            <span class="nav-label">@MyResources.Winplus.Resource.Contact</span>
                        </a>
                    </li>

                </ul>

            </div>
        </nav>

    </div>
    <div class="col-sm-9" id="form-layout-product">
    
    </div>
</div>
<script>
    var id = @loginSeller.SellerId;
    function singlePageLoad() {
        ajaxPartialLoad("@Url.Content("~/seller/Find")", "form-layout-product", FormLayoutLoadCompleted)
    }

    function FormLayoutLoadCompleted(html) {
        _initialAddEditForm();
    }

    function LoadPartialForm(url){
        ajaxPartialLoad(url, "form-layout-product", FormLayoutLoadCompleted)
    }
</script>