﻿@{
    Library.Winplus.syslib.customize.loginseller.model.LoginSeller loginSeller = new Library.Winplus.syslib.customize.loginseller.repository.LoginSellerRepository().FindByTokenId(Request, Session.SessionID);
    string BuyerWebsite = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(Library.Winplus.syslib.customize.loginuser.model.LoginUser.DefaultUser, "BuyerWebsite");
    if(string.IsNullOrEmpty(BuyerWebsite )){
        BuyerWebsite = "http://buyer.adezy.winning-plus.com";
    }

    var Currencies = new Library.Winplus.syslib.standard.currency.repository.CurrencyRepository().GetAllCurrencies();
    var Languages = new Library.Winplus.syslib.standard.language.repository.LanguageRepository().GetAllLanguages();

    string LocaleCode = CookieUtil.ValueOf(Request, "language"); // th-TH, en-US,...
    string CurrencyCode = CookieUtil.ValueOf(Request, "currency"); // THB, USD,...
}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Seller - ADEZY</title>
  <link rel='shortcut icon' type='image/x-icon' href='@Url.Content("~/Resource/images/favicon.ico")' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
   
    @Html.Partial("~/Views/_include/_IncludeCss.cshtml")
    
    @Html.Partial("~/Views/_include/_IncludeJs.cshtml")
    
    @Html.Partial("~/Views/_include/_IncludeCustomJs.cshtml")

    <link href="//fonts.googleapis.com/css?family=Prompt:300,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">


@*    <link href="@Url.Content("~/Resource/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Resource/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet">*@
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/css/header.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/css/main.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/css/footer.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/css/adezystyle.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/css/custom.css")">


</head>

    <body>
        <div id="masthead" class="site-header">
          <div class="container">
            <div class="site-logo">
              <a href="@BuyerWebsite"><img src="@Url.Content("~/Resource/images/logo.png")"></a>
            </div><!-- .site-logo -->
            <div class="site-callcenter">

              @MyResources.Winplus.Resource.TeamSupport
                <span class="phone">+66 2 0349466</span>
            </div><!-- .site-callcenter -->
                    <div class="site-currency">
                      <a href="#" data-toggle="modal" data-target="#language-modal">
                          <img class="flag" src="@Url.Content("~/Resource/images/flag/"+LocaleCode.Replace("-","_")+".png")">
                      </a>
                      <a href="#" data-toggle="modal" data-target="#currency-modal">@CurrencyCode</a>

                      <div class="modal fade" id="language-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">All Language</h4>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                 @foreach (var language in Languages)
                                 {
                                    <div class="col-xs-12 col-sm-6">
                                      <a href="javascript:ChangeLanguage(@language.LanguageId);"><img class="flag" src="@Url.Content("~/Resource/images/flag/"+(@language.LocaleCode.Replace("-","_"))+".png")"> @language.LanguageName</a>
                                    </div>
                                 }
                                  <script>
                                      function ChangeLanguage(id) {
                                          var url = "@Url.Content("~/Adezy/ChangeLanguage/")" + id;
                                          ajaxUrlRequest(url, ChangeLanguageResponse);
                                      }

                                      function ChangeLanguageResponse(result) {
                                          try{
                                              if (result.StatusCode == "0") {
                                                  location.href = window.location.href.replace("#no-back-button", "");
                                              } else {
                                                  alert(result.Message);
                                              }
                                          } catch (e) {
                                              alert(e);
                                          }
                                      }
                                  </script>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal fade" id="currency-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">All Currencies</h4>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                 @foreach(var Currencie in Currencies){
                                    <div class="col-xs-12 col-sm-6">
                                      <a href="javascript:ChangeCurrency(@Currencie.CurrencyId)">@Currencie.CurrencyName</a>
                                    </div>
                                 }
                                  <script>
                                      function ChangeCurrency(id) {
                                          var url = "@Url.Content("~/Adezy/ChangeCurrency/")" + id;
                                          ajaxUrlRequest(url, ChangeCurrencyResponse);
                                      }

                                      function ChangeCurrencyResponse(result) {
                                          if (result.StatusCode == "0") {
                                              location.href = window.location.href;
                                          } else {
                                              alert(result.Message);
                                          }
                                      }
                                  </script>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- .site-currency -->

            <nav class="member-navigation">
              <ul class="menu clear">
                <li class="has-submenu">
                  <a href="#">@MyResources.Winplus.Resource.Help
                  </a>
                  <ul class="sub-menu">
                    <li><a href="customer-support.php">@MyResources.Winplus.Resource.TeamSupport</a></li>
                    <li><a href="customer-support.php">@MyResources.Winplus.Resource.Suggestion</a></li>
                    <li><a href="faq.php">@MyResources.Winplus.Resource.FAQ</a></li>
                  </ul><!-- .sub-menu -->
                </li>
                @if (loginSeller == null)
                {
                    <li class="register"><a href="javascript:gotoRegister();">@MyResources.Winplus.Resource.Register</a></li>
                    <li class="login"><a href="javascript:gotoLogin();">@MyResources.Winplus.Resource.Login</a></li>
                }else{
                    <li class="register"><a href="@Url.Content("~/Login/Logout")">@MyResources.Winplus.Resource.Logout</a></li>
                }
              </ul>
            </nav><!-- .member-navigation -->
          </div><!-- .container -->
        </div><!-- .site-header -->
        @if (loginSeller != null)
        {
            <nav class="main-seller-navigation navbar navbar-default">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="main-menu-1">
                    <style>
                        .link-active {
                            font-weight:bold;
                        }
                    </style>
                    <script>
                        function activeLinkSeller(id) {
                            $(".link-normal").removeClass("link-active");
                            $("#"+id).addClass("link-active");
                        }
                    </script>
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a id="l-1" href="javascript:gotoSearchProduct();activeLinkSeller('l-1');" class="link-normal">@MyResources.Winplus.Resource.MyBillboard</a>
                    </li>
                    <li class="dropdown">
                      <a id="l-2" href="javascript:gotoSaleHistory();activeLinkSeller('l-2');" class="link-normal">@MyResources.Winplus.Resource.SaleHistory</a>
                    </li>
                    <li class="dropdown">
                      <a id="l-3" href="javascript:gotoProfile();activeLinkSeller('l-3');" class="link-normal">@MyResources.Winplus.Resource.SellerProfile</a>
                  </ul>
                </div>
              </div><!-- .container-->
            </nav>
        }

        <div id="main" class="site-main">
            <div class="site-content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
        
        @Html.Partial("~/Views/_include/_footer.cshtml");
        </body>
</html>