﻿
<div id="mastfoot" class="site-footer seller-footer">
  <div class="box-callcenter">
    <i class="fa fa-phone"></i> @MyResources.Winplus.Resource.TeamSupport : +66 2 034 9466
  </div><!-- .box-callcenter -->
  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="social">
            <h3 class="widget-title">Social</h3>
            <ul class="social">
              <li><a href="#"><img src="@Url.Content("~/Resource/images/icon/facebook.png")"></a></li>
              <li><a href="#"><img src="@Url.Content("~/Resource/images/icon/line.png")"></a></li>
              <li><a href="#"><img src="@Url.Content("~/Resource/images/icon/instagram.png")"></a></li>
            </ul>
          </div><!-- .social -->
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .footer-widget -->
  <div class="copyright">
    Adezy
  </div><!-- .copyright -->
</div><!-- .site-footer -->
