﻿@{
    Library.Winplus.syslib.customize.loginseller.model.LoginSeller loginSeller = new Library.Winplus.syslib.customize.loginseller.repository.LoginSellerRepository().FindByTokenId(Request, Session.SessionID);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel='shortcut icon' type='image/x-icon' href='@Url.Content("~/Resource/images/favicon.ico")' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seller - ADEZY</title>
    
    @Html.Partial("~/Views/_include/_IncludeCss.cshtml")

    @Html.Partial("~/Views/_include/_IncludeJs.cshtml")


</head>
<body id="page-top" class="landing-page">
  
    @Html.Partial("~/Views/_include/_TopMenu.cshtml")
    
    <!-- Top Menu Background -->
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel" style="height:70px;">
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="height:70px;background-color:#233645;">
                <div class="container">
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    @Html.Partial("~/Views/_include/_IncludeCustomJs.cshtml")
    
    @Html.Partial("~/Views/_include/_ContactUs.cshtml")

    <style>
        .landing-page .services {
            padding-top: 0px;
        }
    </style>
</body>
</html>




