﻿@{
    Library.Winplus.syslib.customize.loginseller.model.LoginSeller loginSeller = new Library.Winplus.syslib.customize.loginseller.repository.LoginSellerRepository().FindByTokenId(Request, Session.SessionID);
}

<!-- ******HEADER****** -->
<header id="header" class="header navbar-fixed-top" style="background-color:#233645;color:black;">
    <div class="container">
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if(loginSeller==null){
                        <li class="nav-item">
                            <a href="javascript:gotoLogin();">
                                <i class="fa fa-sign-in" style="font-size:15px;">&nbsp; @MyResources.Winplus.Resource.Login</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:gotoRegister();">
                                <i class="fa fa-sign-in" style="font-size:15px;">&nbsp; @MyResources.Winplus.Resource.Register</i>
                            </a>
                        </li>
                    }else{
                        <li class="nav-item">
                            <a href="javascript:gotoProfile();">
                                <i class="fa fa-sign-in" style="font-size:15px;">&nbsp; @MyResources.Winplus.Resource.Profile</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" onclick="javascript:gotoSearchProduct();">
                                <i class="fa fa-sign-in" style="font-size:15px;">&nbsp;@MyResources.Winplus.Resource.MyProduct</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" onclick="javascript:gotoSaleHistory();">
                                <i class="fa fa-sign-in" style="font-size:15px;">&nbsp;@MyResources.Winplus.Resource.SaleHistory</i>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="@Url.Content("~/Login/Logout")">
                                <i class="fa fa-sign-in" style="font-size:15px;">&nbsp; @MyResources.Winplus.Resource.SignOut</i>
                            </a>
                        </li>
                        
                        <li class="dropdown user user-menu hidden-xs">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:5px">
                                <img src="@Url.Content("~/Resource/img/classprofile.png")" class="img-circle" style="width:40px;height:40px;" class="user-image" alt="User Image">
                                <span class="label label-danger" style="display:none;">8</span>
                            </a>

                        </li>
                    }
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-->