﻿@model Library.Winplus.syslib.standard.documentupload.model.DocumentUpload

<div class="modal inmodal" id="@(Model.EntityName)_modal-preview-png" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-12" style="text-align:center;">
                        <img src="" 
                            id="@(Model.EntityName)_preview-png"
                            style="max-width:800px;max-height:500px;"
                            />
	                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-download-image" class="btn btn-info" onclick="downloadImage();">Download</button>
                <button type="button" id="btn-import-close" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

    function @(Model.EntityName)_PreviewPngDocument(url)
    {
        $('#@(Model.EntityName)_modal-preview-png').modal('show');
        document.getElementById("@(Model.EntityName)_preview-png").src = url;
    }

    function downloadImage() {
        var url = document.getElementById("@(Model.EntityName)_preview-png").src;

        var a = document.createElement('a');
        a.href = url;
        a.download = url;

        a.click()
    }

</script>

