.site-header {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0 1px 5px rgba(0,0,0,0.6);
}
.site-logo img {
  height: 50px;
}
.seller-header .site-logo img {
  max-height: 50px;
}
.site-header .site-callcenter {
  padding: 15px 0 0;
  text-align: center;
}
.site-callcenter .phone {
  margin-left: 5px;
}
.site-currency {
  position: absolute;
  top: 10px;
  right: 15px;
}
.site-currency .flag {
  height: 25px;
}
.site-currency a {
  text-decoration: none;
  color: #272727;
}

@media (min-width: 768px) {
  .site-header .site-logo {
    float: left;
  }
  .site-logo img {
    height: auto;
  }
  .site-header .site-callcenter {
    float: left;
    padding: 10px 0 0 10px;
  }
  .site-callcenter .phone {
    display: block;
  }
  .site-currency {
    position: absolute;
    top: auto;
    right: 15px;
    bottom: -10px;
  }
}

.member-navigation {
  clear: both;
}
.member-navigation .menu {
  padding: 15px 0;
  margin: 0 -5px;
  list-style: none;
}
.member-navigation .menu li {
  width: 33.3333%;
  float: left;
  text-align: center;
  padding: 0 5px;
  position: relative;
}
.member-navigation .menu li a {
  padding: 10px 5px;
  text-decoration: none;
  color: #272727;
  border: 2px solid transparent;
  border-radius: 30px;
  display: block;
  width: 100%;
}
.member-navigation .menu .register a {
  border: 2px solid #54c4c8;
}
.member-navigation .menu .login a {
  border: 2px solid #54c4c8;
  background: #54c4c8;
  color: #fff;
}
.member-navigation .menu .sub-menu {
  display: none;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  position: absolute;
  z-index: 1000;
  left: 5px;
  white-space: nowrap;
  background: #54c4c8;
}
.member-navigation .menu .sub-menu li {
  width: 100%;
  padding: 0;
  text-align: left;
}
.member-navigation .menu .sub-menu li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  width: 100%;
  border-radius: 0;
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}
.member-navigation .menu .sub-menu li a:hover {
  background: rgba(255,255,255,0.7);
  color: #000;
}
@media (min-width: 768px) {
  .member-navigation {
    float: right;
    clear: none;
  }
  .member-navigation .menu {
    padding: 0;
  }
  .member-navigation .menu li {
    width: auto;
  }
  .member-navigation .menu li a {
    padding: 10px 15px;
    border-radius: 30px;
    display: inline-block;
    width: auto;
  }
  .member-navigation .menu .sub-menu {
    left: 0;
  }
}

.main-seller-navigation {
  margin-bottom: 0;
  background: #54c4c9;
  border: 0 none;
  border-radius: 0;
  color: #fff;
}
.main-seller-navigation .nav > li > a {
  color: #272727;
}