.site-content {
  padding: 30px 0;
}
.main-hero {
  position: relative;
  padding: 100px 0 0;
  background-position: center 0;
  background-size: auto;
}
.main-hero .link {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  position: absolute;
  top: 15px;
  right: 0;
  display: block;
  padding: 10px 15px;
  background: #54c4c8;
  text-decoration: none;
  color: #272727;
  text-shadow: 1px 1px 1px #777;
}
.main-seller-hero {
  padding: 30px 0;
}
.main-seller-hero .hero-seller-title {
  padding: 160px 0 160px;
  text-align: center;
  color: #fff;
  line-height: 1.48;
}
.main-seller-hero .hero-seller-title a {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .main-hero {
    padding: 450px 0 0;
  }
  .main-hero .link {
    top: 60px;
    font-size: 2em;
    padding: 10px 60px 10px 30px;
  }
  .main-seller-hero {
    padding: 150px 0;
  }
}

.main-search .tabs-navigation {
  float: left;
  width: 40%;
  padding: 0;
}
.main-search .tabs {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-search .tabs li {
  
}
.main-search .tabs li a {
  padding: 10px 15px;
  display: block;
  background: rgba(200,200,200,0.8);
  color: #272727;
  text-decoration: none;
}
.main-search .tabs .active a {
  background: rgba(84,196,201,0.8);
  color: #fff;
}
#block-search {
  float: right;
  width: 60%;
  padding: 30px 0;
  background: rgba(84,196,201,0.8);
}
.box-search .col {
  margin: 0 0 15px;
}
.box-search .col:after {
  content: "";
  display: table;
  clear: both;
}
.box-search label {
  display: block;
  margin-bottom: 5px;
}
.box-search .input-text {
  width: 100%;
  background: #eee;
  border: 0 none;
  height: 29px;
  border-radius: 5px;
  padding: 0 5px;
}
.box-search .rating {
  background: #eee;
  padding: 3px 5px 0 0;
  border-radius: 5px;
  height: 29px;
  font-size: 16px;
}
.box-search .btn-submit {
  margin-top: 28px;
  background: #eee;
  border: 0 none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 10px;
  font-size: 1.25em;
}
.box-search .more-search-detail {
  text-align: center;
  padding: 15px 0 0;
  clear: both;
}
.box-search .more-search-detail a {
  text-decoration: none;
  color: #272727;
}
.box-search .row-hidden {
  display: none;
}
.box-search #amount {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
  background: none;
  color: #272727;
}
.box-search .col-6 .input-text {
  width: 33%;
  margin-right: 2%;
  float: left;
}
.box-search .col-6 .box-select {
  width: 65%;
  float: right;
  overflow: hidden;
  background: #eee;
  position: relative;
  border-radius: 5px;
}
.box-search .col-6 .box-select select {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 2px 5px; /* If you add too much padding here, the options won't show in IE */
}
.box-search .col-6 .box-select .dropdown-icon {
  background: #eee;
  height: 29px;
  width: 29px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 0;
}

@media (min-width: 992px) {
  .main-search .tabs-navigation {
    float: none;
    width: 100%;
    padding: 0 15px;
  }
  .main-search .tabs li {
    display: inline-block;
  }
  .main-search .tabs li a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  #block-search {
    float: none;
    width: 100%;
  }
  .box-search .col {
    float: left;
    padding: 0 15px 0 0;
  }
  .box-search .block {
    float: left;
    width: 80%;
  }
  .box-search .col-1 {
    width: 25%;
  }
  .box-search .col-2 {
    width: 25%;
  }
  .box-search .col-3 {
    width: 25%;
  }
  .box-search .col-4 {
    width: 25%;
  }
  .box-search .col-5 {
    width: 30%;
    clear: left;
  }
  .box-search .col-6 {
    width: 30%;
  }
  .box-search .col-submit {
    width: 20%;
    padding: 0 0 0 15px;
  }
  .box-search .btn-submit {
    margin-top: 23px;
    padding: 6px 10px;
    height: 29px;
    font-size: 1em;
  }
}

.container.product-list {
  margin-bottom: 30px;
}
.product-list .box-title {
  height: 290px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.product-list .box-title .block {
  border: 15px solid #5d5d5e;
}
.product-list .box-title .block .inner {
  border: 5px solid #fff;
  background: #5d5d5e;
  height: 240px;
  padding: 15px;
}
.product-list .box-title .block .inner h3 {
  font-size: 2.5em;
  margin: 15px 0 5px;
}
.product-list .box-title .block .inner h3 span {
  color: #54c4c9;
}
.product-list .box-title .block .inner p {
  font-size: 1.25em;
  margin: 15px 0;
}
.product-list .box-title .block .inner .click {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 35px;
  background: #54c4c9;
  background-image: linear-gradient(to top, rgba(84, 196, 201, 0) 0%, #7eecf1 100%);
  color: #fff;
  border-radius: 20px;
  padding: 8px 0;
  text-decoration: none;
}
.product-list .box-title.style-2 .block {
  border: 15px solid #54c4c9;
}
.product-list .box-title.style-2 .block .inner {
  background: #54c4c9;
}
.product-list .box-title.style-2 .block .inner h3 {
  color: #5d5d5e;
}
.product-list .box-title.style-2 .block .inner h3 span {
  color: #fff;
}
.product-list .box-title.style-2 .block .inner .click {
  background-image: linear-gradient(to top, #272727 0%, #5d5d5e 100%);
}
.product-list .item {
  position: relative;
  margin-bottom: 30px;
}
.product-list .item .thumb {
  position: relative;
}
.product-list .item .thumb img {
  width: 100%;
}
.product-list .item .thumb .ribbon {
  position: absolute;
  top: 10px;
  left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px 15px;
  box-shadow: 0 2px 2px rgba(39, 39, 39, 0.25);
  font-weight: bold;
}
.product-list .item .thumb .ribbon.discount {
  color: #272727;
  background: #e31e1c;
}
.product-list .item .detail {
  background: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  color: #eeeeee;
}
.product-list .item .detail .block {
  padding: 5px 15px;
}
.product-list .item .detail .info {
  float: left;
  width: 60%;
}
.product-list .item .detail .info p {
  margin: 0;
  font-size: 0.875em;
  line-height: 18px;
}
.product-list .item .detail .info img {
  vertical-align: bottom;
}
.product-list .item .detail .price {
  float: right;
  width: 40%;
  text-align: center;
}
.product-list .item .detail .price span {
  display: block;
  color: #eecf02;
  font-size: 1.125em;
  line-height: 18px;
}
.product-list .item .detail .price .discount {
  font-size: 0.875em;
  color: #eeeeee;
  line-height: 18px;
  text-decoration: line-through;
}
.product-list .item .detail .footer {
  background: rgba(0,0,0,0.5);
  padding: 5px 15px;
}
.product-list .item .detail .footer .box-fav {
  float: left;
  width: 60%;
}
.product-list .item .detail .footer .box-rating {
  float: right;
  width: 40%;
  text-align: center;
}
.search-result .product-list .item {

}
@media (min-width: 992px) {
  .search-result .product-list .item {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .product-list .box-title {
    height: 262.5px;
  }
  .product-list .box-title .block .inner {
    height: 232.5px;
    padding: 15px;
  }
  .product-list .box-title .block .inner p {
    margin: 15px 0;
  }
}

.popular-location {
}
.popular-location .main-title {
  font-weight: 300;
  text-align: center;
  color: #272727;
  font-size: 2.25em;
  margin: 0 0 30px;
}
.popular-location .main-title span {
  color: #54c4c9;
}
.location-list .row {
}
.location-list .row .item {
  margin-bottom: 30px;
}
.location-list .row .item .block {
  display: block;
  background-position: center center;
  background-size: cover;
  height: 385px;
  position: relative;
}
.location-list .row .item .block .overlay {
  background: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.location-list .row .item .box-title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: #fff;
}
.location-list .row .item .box-title .city {
  font-weight: 300;
  margin: 0;
  padding: 10px 0;
  display: inline-block;
  font-size: 1.5em;
  border-bottom: 1px solid #54c4c9;
}
.location-list .row .item .box-title .country {
  font-weight: 300;
  margin: 0;
  padding: 10px 0;
  display: block;
}
.location-list .row .item-v,
.location-list .row .item-v .block {
  margin-bottom: 30px;
  height: 178px;
}

@media (min-width: 576px) {
  .location-list .row .item .block {
    height: 200px;
  }
}
@media (min-width: 768px) {
  .location-list .row .item .block {
    height: 385px;
  }
  .location-list .row .item-v,
  .location-list .row .item-v .block {
    height: 178px;
  }
}

.front-about .info {
  margin-top: 15px;
}
.front-about .info .title {
  font-size: 1.5em;
  margin: 0 0 10px;
}
.front-about .info p {
  margin-top: 0;
}

@media (min-width: 768px) {
  .front-about .info {
    margin: 0;
  }
}

.main-content {
  margin-bottom: 15px;
}
.main-full {
  float: none;
  width: 100%;
}
.main-content .box-content {
  background: #ddd;
  padding: 15px;
  margin: 0 0 30px;
}
.main-content dl {

}
.main-content dt {
  font-weight: bold;
}
.main-content dd {
  margin: 5px 0 15px;
  background: #eee;
  padding: 15px;
}
.main-sidebar {
  margin-bottom: 15px;
}

.form .row {
  margin-bottom: 10px;
}
.form .row .label {
  float: left;
  width: 30%;
  padding: 0 15px 0 0;
  line-height: 30px;
}
.form .row .input {
  float: left;
  width: 70%;
}
.form input:not([type="range"]), textarea {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  border: 0 none;
}
.form select {
  width: 100%;
  height: 30px;
}
.form .row-submit {
  text-align: right;
}

.table-callcenter {
  width: 100%;
}
.table-callcenter .flag {
  width: 30px;
}
.table-callcenter .title {
  padding: 0 10px;
}
.table-callcenter .phone {
  text-align: right;
}

.search-result .main-title small {
  font-size: 50%;
  position: relative;
  top: -2px;
  color: #c00;
}
.search-result .map {
  margin-bottom: 15px;
}
.search-result .map img {
  width: 100%;
}
.search-result .result {
}

.result .product-list {
  margin-top: 15px;
}

.box-register .box-1 {
  margin-bottom: 15px;
}
.box-register .box-2 {
  background: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}
.box-register .row .col {
  margin: 0 0 10px 0;
}
.box-register .row .col label {
  display: block;
}
.box-register .row .col .input-text {
  width: 100%;
}
.box-register .row .col input[type="radio"] {
  margin-right: 10px;
}
.box-register .row .col input + span {
  margin-right: 30px;
}
.box-register .row .checkbox {
  padding: 0 10px;
  display: block;
}
.box-register .row-submit {
  text-align: center;
  padding: 30px 0 0 0;
}
.box-register .forget-link {
  padding: 0 10px;
}

.ad-detail .ad-header .main-title,
.ad-detail .ad-header .box-rating {
  display: inline-block;
}
.ad-detail .ad-header .box-rating {
  position: relative;
  top: -5px;
  font-size: 16px;
}
.ad-detail .table-ad-detail td {
  vertical-align: top;
  padding-bottom: 15px;
}
.ad-detail .table-ad-detail td:first-child {
  width: 150px;
}
.ad-detail .table-ad-detail .point {
  margin-bottom: 15px;
}
.ad-detail .table-ad-detail td ul,
.ad-detail .table-ad-detail td ol {
  padding-left: 20px;
}
.ad-detail .panel .index {
  padding: 15px 0;
  color: #fff;
  background-color: #54c4c8;
  text-align: center;
  font-size: 1.25em;
}

.box-booking table {
  margin-bottom: 15px;
  width: 100%;
}
.box-booking table td {
  height: 40px;
  padding-right: 10px;
}
.box-booking .action-box {
  position: relative;
}
.box-booking .action-box .box-fav {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

.item-booking .thumb {
  margin-bottom: 15px;
}
.item-booking .thumb img {
  width: 100%;
}
.item-booking .total {
  text-align: right;
  font-weight: bold;
  font-size: 1.125em;
  color: #f00;
}

.main-content .box-total {
  background: #f0f4f5;
}
.box-total .table-total {
  color: #333;
}
.box-total .table-total td:last-child {
  text-align: right;
  padding-right: 0;
  width: 120px;
}
.box-total hr {
  border-top: 2px solid #dce0e1;
}
.box-total .btn-full {
  margin-top: 15px;
}
.row-coupon {
  margin-bottom: 20px;
}
.row-coupon .col-input-text {
  float: left;
  width: 65%;
}
.row-coupon .col-input-text .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.row-coupon .col-button-submit {
  float: left;
  width: 35%;
}
.row-coupon .col-button-submit .btn-coupon {
  height: 34px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.main-content .box-finish {
  margin: 30px 0;
  background: #fff;
  border: 5px solid #54c4c8;
}

.rating-list .item {
  padding: 15px;
  border: 1px solid #54c4c8;
  border-top: 0;
}

.rating-content .nav-tabs {
  border-bottom-color: #54c4c8;
}
.rating-content .nav-tabs > li.active > a,
.rating-content .nav-tabs > li.active > a:focus,
.rating-content .nav-tabs > li.active > a:hover {
  color: #fff;
  background-color: #54c4c8;
  border-color: #54c4c8;
}
.rating-content .nav-tabs > li > a:hover {
  border-bottom-color: #54c4c8;
}
.modal-header {
  color: #fff;
  background-color: #54c4c8;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group .title {
  background-color: #54c4c8;
  color: #fff;
}

.purchase-content .nav-tabs {
  border-bottom-color: #54c4c8;
}
.purchase-content .nav-tabs > li.active > a,
.purchase-content .nav-tabs > li.active > a:focus,
.purchase-content .nav-tabs > li.active > a:hover {
  color: #fff;
  background-color: #54c4c8;
  border-color: #54c4c8;
}
.purchase-content .nav-tabs > li > a:hover {
  border-bottom-color: #54c4c8;
}
.purchase-content .tab-content {
  background-color: #54c4c8;
  padding: 15px;
}
.purchase-content .tab-content .btn-submit {
  background: #eee;
  color: #272727;
}

.our-services {
  padding: 50px 0;
}

.ad-step {
  padding: 50px 0;
  background: #8ae3e7;
}

.blue-quote {
  padding: 30px 0;
  background: #54c4c9;
}
.blue-quote h3 {
  margin: 0;
  line-height: 40px;
}
.blue-quote .btn {
  background: #fff;
  color: #272727;
  box-shadow: 1px 1px 3px #272727;
}

.testimonial {
  padding: 30px 0;
}
.testimonial .item {
  box-shadow: 1px 1px 5px #ddd;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
}
.testimonial .item .thumb {
  border-radius: 50%;
  overflow: hidden;
}

.dashboard .item .icon {
  background: #ebebeb;
  border-radius: 50%;
}
.dashboard .item .detail {
  padding: 15px 0 0 0;
}