﻿@model Library.Winplus.syslib.standard.productpromotion.model.ProductPromotion

@Html.HiddenFor(model => model.ProductPromotionId)
@Html.HiddenFor(model => model.ProductPriceMonthlyId)

<div class="modal-body">
    <div class="row">
        <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DateFrom)</label>
		    <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(model => model.DateFromText, new { @class = "form-control" ,@readonly=true  })
                </div>
		    </div>
	    </div>
	    <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DateTo)</label>
		    <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(model => model.DateToText, new { @class = "form-control",@readonly=true  })
                </div>
		    </div>
	    </div>
	    <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UnitPrice)</label>
		    <div class="col-sm-6">
			    @Html.TextBoxFor(model=>model.UnitPrice, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.UnitPrice),@type="number",@step="any",@readonly=true})
		    </div>
	    </div>
         <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DiscountTypeId)</label>
		    <div class="col-sm-6">
                @Html.DropDownListFor(model => model.DiscountTypeId,Model.GetSelectedItems("DiscountType", Model.DiscountTypeId,""), new { @class = "form-control" })
		    </div>
	    </div>
	    <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Discount)</label>
		    <div class="col-sm-6">
			    @Html.TextBoxFor(model=>model.Discount, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Discount),@type="number",@step="any"})
		    </div>
	    </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" id="btn-import-close" class="btn btn-white" data-dismiss="modal">Close</button>
    <button type="submit" id="btn-import-document" class="btn ladda-button btn-primary" data-style="expand-left">Save</button>
</div>




