﻿@model Library.Winplus.syslib.standard.productpricemonthly.model.ProductPriceMonthly

@Html.HiddenFor(model => model.ProductPriceMonthlyId)
@Html.HiddenFor(model => model.ProductId)

<div class="modal-body">
    <div class="row">
        <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DateFrom)</label>
		    <div class="col-sm-8">
                <table>
                    <tr>
                        <td>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(model => model.DateFromText, new { @class = "form-control"  })
                            </div>
                        </td>
                        <td>
                            <div class="input-group clockpicker" data-autoclose="true" style="margin-left:5px;">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                @Html.TextBoxFor(model => model.DateFromTimeText, new { @class = "form-control" , @style="width:80px;" })
                            </div>
                        </td>
                    </tr>
                </table>
		    </div>
	    </div>
	    <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DateTo)</label>
		    <div class="col-sm-8">
                <table>
                    <tr>
                        <td>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(model => model.DateToText, new { @class = "form-control"  })
                            </div>
                        </td>
                        <td>
                            <div class="input-group clockpicker" data-autoclose="true" style="margin-left:5px;">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                @Html.TextBoxFor(model => model.DateToTimeText, new { @class = "form-control" , @style="width:80px;" })
                            </div>
                        </td>
                    </tr>
                </table>
		    </div>
	    </div>
	    <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UnitPrice)</label>
		    <div class="col-sm-8">
			    @Html.TextBoxFor(model=>model.UnitPrice, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.UnitPrice),@type="number",@step="any"})
		    </div>
	    </div>
	    <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProductPricePeriodTypeId)</label>
		    <div class="col-sm-8">
			    @Html.DropDownListFor(model => model.ProductPricePeriodTypeId, Model.GetSelectedItems("ProductPricePeriodType", Model.ProductPricePeriodTypeId, ""), new { @class = "form-control",@disabled=true })
                @Html.HiddenFor(model=>model.ProductPricePeriodTypeId)
		    </div>
	    </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" id="btn-import-close" class="btn btn-white" data-dismiss="modal">Close</button>
    <button type="submit" id="btn-import-document" class="btn ladda-button btn-primary" data-style="expand-left">Save</button>
</div>




