﻿@model Library.Winplus.syslib.standard.cancellationmethod.model.CancellationMethod

<div class="modal inmodal" id="modal-addedit-cancellation-method" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">@MyResources.Winplus.Resource.CancellationMethod</h4>
            </div>
            <form id="form-cancellation-method" method="post" class="form-horizontal" action="@Url.Content("~/ProductCancellationMethod/Save")" onsubmit="ajaxSubmitForm(event,this,'btn-import-document',_FormCancellationMethodCompleted);" enctype="multipart/form-data">
              

            </form>
        </div>
    </div>
</div>
<script>
    var SuccessCallBack;
    function OpenFormCancellationMethod(productId, id, successCallBack) {
        SuccessCallBack = successCallBack;
        if (id == null) id = "";
        var url = '@Url.Content("~/ProductCancellationMethod/InitialDialog?")' + "ProductId=" + productId + "&ProductCancellationMethodId="+id;
        ajaxPartialLoad(url, "form-cancellation-method", OpenFormCancellationMethodResponse)
    }

    function OpenFormCancellationMethodResponse(data) {
        bindingStandardField();
        $('#modal-addedit-cancellation-method').modal('show');
    }

    function _FormCancellationMethodCompleted(data, status) {
        if (data.StatusCode == "0") {
            $('#modal-addedit-cancellation-method').modal('hide');
            SuccessCallBack(data);
        } else {
            alert(data.Message);
        }
    }

</script>
