﻿@model Library.Winplus.syslib.standard.productpricemonthly.model.ProductPriceMonthly

<div class="modal inmodal" id="modal-addedit-productprice-monthly" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">@MyResources.Winplus.Resource.ProductPrice</h4>
            </div>
            <form id="form-productprice-monthly" method="post" class="form-horizontal" action="@Url.Content("~/ProductPriceMonthly/Save")" onsubmit="ajaxSubmitForm(event,this,'btn-import-document',_FormProductPriceMonthlyCompleted);" enctype="multipart/form-data">
              

            </form>
        </div>
    </div>
</div>
<script>
    var SuccessCallBack;
    function OpenFormProductPriceMonthly(productId, id, successCallBack) {
        SuccessCallBack = successCallBack;
        if (id == null) id = "";
        var url = '@Url.Content("~/ProductPriceMonthly/InitialDialog?")' + "ProductId=" + productId + "&ProductPriceMonthlyId="+id;
        ajaxPartialLoad(url, "form-productprice-monthly", OpenFormProductPriceMonthlyResponse)
    }

    function OpenFormProductPriceMonthlyResponse(data) {
        bindingStandardField();
        $('#modal-addedit-productprice-monthly').modal('show');
    }

    function _FormProductPriceMonthlyCompleted(data, status) {
        if (data.StatusCode == "0") {
            $('#modal-addedit-productprice-monthly').modal('hide');
            SuccessCallBack(data);
        } else {
            alert(data.Message);
        }
    }

</script>
