﻿@model Library.Winplus.syslib.standard.productcancellationmethod.model.ProductCancellationMethod

@Html.HiddenFor(model => model.ProductCancellationMethodId)
@Html.HiddenFor(model => model.ProductId)

<div class="modal-body">
    <div class="row">
        <div class="form-group col-sm-12">
	        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DateFrom)<span class="span-required">*</span></label>
	        <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(model => model.DateFromText, new { @class = "form-control" ,@required="" })
                </div>
	        </div>
        </div>
        <div class="form-group col-sm-12">
	        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DateTo)<span class="span-required">*</span></label>
	        <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(model => model.DateToText, new { @class = "form-control" ,@required="" })
                </div>
	        </div>
        </div>
        <div class="form-group col-sm-12">
	        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CancellationMethodId)<span class="span-required">*</span></label>
	        <div class="col-sm-8">
                <div class="input-group">
                    @Html.DropDownListFor(model => model.CancellationMethodId,Model.GetSelectedItems("CancellationMethod", Model.CancellationMethodId,""), new { @class = "form-control" })
                </div>
	        </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" id="btn-import-close" class="btn btn-white" data-dismiss="modal">Close</button>
    <button type="submit" id="btn-import-document" class="btn ladda-button btn-primary" data-style="expand-left">Save</button>
</div>




