﻿@model Library.Winplus.syslib.standard.productpromotion.model.ProductPromotion

<div class="modal inmodal" id="modal-addedit-productpromotion-monthly" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">@MyResources.Winplus.Resource.ProductPromotion</h4>
            </div>
            <form id="form-productpromotion-monthly" method="post" class="form-horizontal" action="@Url.Content("~/ProductPromotion/Save")" onsubmit="ajaxSubmitForm(event,this,'btn-import-document',_FormProductPromotionCompleted);" enctype="multipart/form-data">
              

            </form>
        </div>
    </div>
</div>
<script>
    var SuccessCallBack;
    function OpenFormProductPromotion(ProductPriceMonthlyId, successCallBack) {
        SuccessCallBack = successCallBack;
        var url = '@Url.Content("~/ProductPromotion/InitialDialog?")' + "ProductPriceMonthlyId=" + ProductPriceMonthlyId;
        ajaxPartialLoad(url, "form-productpromotion-monthly", OpenFormProductPromotionResponse)
    }

    function OpenFormProductPromotionResponse(data) {
        bindingStandardField();
        $('#modal-addedit-productpromotion-monthly').modal('show');
    }

    function _FormProductPromotionCompleted(data, status) {
        if (data.StatusCode == "0") {
            $('#modal-addedit-productpromotion-monthly').modal('hide');
            SuccessCallBack(data);
        } else {
            alert(data.Message);
        }
    }

</script>
