﻿@model Library.Winplus.syslib.standard.product.model.Product

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>
                           @MyResources.Winplus.Resource.LocationProduct >> @Model.ProductName
                        </h2>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                
                    <div class="row">
                        <div class="col-md-5">
                            <div class="col-sm-12">
                                <div class="input-group" style="margin-left:-15px;">
                                    <input type="text" id="SearchLocation" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.LocationToSearch ..." />
                                    <span class="input-group-btn"> 
                                        <button type="button" onclick="javascript:SearchAddress();" class="btn btn-default" aria-label="Search">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                                <script>
                                    function BuindEventTextBoxSearchLocation() {
                                        $('#SearchLocation').keyup(function (e) {
                                            if (e.keyCode == 13) {
                                                SearchAddress();
                                            }
                                        });
                                    }
                                    function SearchAddress() {
                                        var geocoder = new google.maps.Geocoder();
                                        var searchText = $("#SearchLocation").val();
                                        if (searchText != "") {
                                            geocoder.geocode({ 'address': searchText }, function (results, status) {
                                                if (status == google.maps.GeocoderStatus.OK) {
                                                    map.center = results[0].geometry.location;
                                                    map.setCenter({
                                                        lat: results[0].geometry.location.lat(),
                                                        lng: results[0].geometry.location.lng()
                                                    });
                                                } else {
                                                    alert("Address not found!");
                                                }
                                            });
                                        }

                                        ////6.978491, 100.476555
                                        //if (searchText.split(",").length == 2
                                        //    && /^\d+$/.test(searchText.split(",")[0].trim())
                                        //    && /^\d+$/.test(searchText.split(",")[1].trim())
                                        //    ) {
                                        //    alert("lat,lng Search");
                                        //    map.setCenter({
                                        //        lat: parseFloat(searchText.split(",")[0].trim()),
                                        //        lng: parseFloat(searchText.split(",")[1].trim())
                                        //    });
                                        //} else {
                                            
                                        //}
                                    }
                                </script>


                            </div>
                            <div class="col-sm-12">&nbsp;</div>
                            <div class="formDiv col-sm-12" id="map_canvas"></div>
                        </div>
                        <div class="col-md-7">
                            <form id="addeditform-1" method="post" class="form-horizontal" action="" onsubmit="" enctype="multipart/form-data">
                                @Html.Partial("~/Views/product/addedit_location_form.cshtml",Model)
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
        BuindEventTextBoxSearchLocation();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            LoadProductForm("@Url.Content("~/product/FindUploadImage/")");
        } else {
            alert(data.Message);
        }
    }

    function GoogleLoadAddress() {
        var form = $('#addeditform-1');
        form.attr("action", "@Url.Content("~/Product/GoogleLoadAddress")");
        form.unbind('submit');
        form.on('submit', function (event) {
            ajaxSubmitFormPartial(event, this, null, GoogleLoadAddressResult);
        });
        form.submit();
    }

    function GoogleLoadAddressResult(data, status) {
        $("#addeditform-1").html(data);
    }

    function SaveLocationInfo() {
        var form = $('#addeditform-1');
        form.attr("action", "@Url.Content("~/Product/SaveLocation")");
        form.unbind('submit');
        form.on('submit', function (event) {
            _initialSubmitForm();
            ajaxSubmitForm(event, this, 'btn-save', _gotoSave);
        });
    }


    var map;
    var marker = null;
    var defaultLocation = null;
    var currentLat = "@Model.location.Latitude";
    var currentLng = "@Model.location.Longitude";

    function initialize() {
        var myOptions = {
            zoom: 12,
            center: defaultLocation,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });
    }

    function placeMarker(location) {
        if (marker != null) {
            marker.setMap(null);
            marker = null;
        }
        marker = new google.maps.Marker({
            position: location,
            map: map
        });
        $("#location_Latitude").val(location.lat);
        $("#location_Longitude").val(location.lng);

        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({
            'latLng': location
        },
        function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var locationInfo = {};
                locationInfo.District = "";
                locationInfo.SubDistrict = "";
                locationInfo.PostalCode = "";

                var hassub = false;
                for (i = 0; i < results[1].address_components.length; i++) {
                    var component = results[1].address_components[i];
                    console.info(component);
                    var type0 = component.types[0];
                    var type1 = "";
                    if (component.types.length > 1) type1 = component.types[1];
                    var type2 = "";
                    if (component.types.length > 2) type2 = component.types[2];

                    if (type0 == "political" && type1 == "sublocality" && type2=="sublocality_level_2") {
                        locationInfo.SubDistrict = component.long_name;
                        hassub = true;
                    }
                    else if (type0 == "political" && type1 == "sublocality" && type2 == "sublocality_level_1") {
                        locationInfo.District = component.long_name;
                        hassub = true;
                    }
                    else if (type0 == "country" && type1 == "political") {
                        locationInfo.Country = component.long_name;
                    }
                    else if(type0 == "administrative_area_level_1" && type1 == "political"){
                        locationInfo.Province = component.long_name;
                    }
                    else if(type0 == "administrative_area_level_2" && type1 == "political"){
                        locationInfo.District = component.long_name;
                    }
                    else if(type0 == "administrative_area_level_2" && type1 == "political"){
                        locationInfo.District = component.long_name;
                    }
                    else if (type0 == "locality" && type1 == "political" && !hassub) {
                        locationInfo.SubDistrict = component.long_name;
                    }
                    else if(type0 == "postal_code"){
                        locationInfo.PostalCode = component.long_name;
                    }
                }
                
                $("#location_GoogleCountry").val(locationInfo.Country);
                $("#location_GoogleProvince").val(locationInfo.Province);

                if (locationInfo.District != "") {
                    $("#location_District").val(locationInfo.District);
                }
                if (locationInfo.SubDistrict != "") {
                    $("#location_SubDistrict").val(locationInfo.SubDistrict);
                }
                if (locationInfo.PostalCode != "") {
                    $("#location_PostalCode").val(locationInfo.PostalCode);
                }

                GoogleLoadAddress();
            }
        });


    }

    $(document).ready(function () {
        var location = null;
        if (currentLat != "" && currentLng != "") {
            location = new google.maps.LatLng(parseFloat(currentLat), parseFloat(currentLng));
            defaultLocation = location;
        } else {
            defaultLocation = new google.maps.LatLng(13.759342, 100.617802);
        }
        initialize();

        if (location != null) {
            placeMarker(location);
        }
    });
</script>

<style type="text/css">
#map_canvas{
    width: 100%; 
    height: 500px;
}
.contextmenu{
    visibility:hidden;
    background:#ffffff;
    border:1px solid #8888FF;
    z-index: 10;  
    position: relative;
    width: 140px;
}
.contextmenu div{
    padding-left: 5px
    }
</style>