﻿@model Library.Winplus.syslib.standard.product.model.Product
@{
    var loc = new Library.Winplus.syslib.customize.helper.service.LocaleStringResourceService();
}
@Html.Partial("~/Views/documentupload/addeditdialog.cshtml", new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload())

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/product/SaveInfo")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>
                            @MyResources.Winplus.Resource.AddEditProduct
                        </h2>
                        <br />
                        <h5 style="font-weight:bold;">
                            @MyResources.Winplus.Resource.ProductInfo
                        </h5>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    @Html.HiddenFor(model => model.ProductId)
                    @Html.HiddenFor(model => model.SellerId)
                    @Html.HiddenFor(model => model.VersionNumber)
                    @Html.HiddenFor(model => model.OrganizationId)
                    @Html.HiddenFor(model => model.ActiveStatusId)
                    @Html.HiddenFor(model => model.ProductPricePeriodTypeId)
                    @Html.HiddenFor(model => model.LocationSearch)
                    @Html.HiddenFor(model => model.MainImageNo)
                    @Html.HiddenFor(model => model.ScoreId)
                    @Html.HiddenFor(model => model.ProductPrice)
                    @Html.HiddenFor(model => model.Area)
                    @Html.HiddenFor(model => model.LastVisitDate)
                    @Html.HiddenFor(model => model.CurrencyId)

                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.ProductCategoryId)<span class="span-required">*</span></label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.ProductCategoryId, Model.GetSelectedItems("ProductCategory", Model.ProductCategoryId, ""), new { @class = "form-control", @required = "" })
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.ProductName)<span class="span-required">*</span></label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.ProductName), @required = "" })
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.ProductShortDetail)<span class="span-required">*</span></label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.ProductShortDetail, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.ProductShortDetail), @required = "" })
                        </div>
                    </div>
	                <div class="col-sm-12">
                        <label class="control-label" style="font-weight:bold;">@Html.DisplayNameFor(model => model.ProductFullDetail)</label>
                    </div>
	                <div class="form-group col-sm-12">
		                <div class="col-sm-12">
                            <div style="border:3px solid #F5F5F5;">
                                @Html.HiddenFor(model => model.ProductFullDetail)
			                    <div id="ProductFullDetail-Editor" class="wysiwyg-editor" >
                                    @Html.Raw(Model.ProductFullDetail)
                                </div>
                            </div>
		                </div>
	                </div>
                    
                    <div class="form-group col-sm-12">
                        <label class="control-label" style="font-weight:bold;">@MyResources.Winplus.Resource.GeneralInfo</label>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-3">
                            <label class="col-sm-12 control-label">@Html.DisplayNameFor(model => model.SizeWidth)<span class="span-required">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <table>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(model => model.SizeWidth, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.SizeWidth), @type = "number", @step = "any", @required = "", @onblur = "CalArea();",@style="width:80px;" })
                                    </td>
                                    <td>
                                        <label class="control-label">@Html.DisplayNameFor(model => model.SizeHeight)<span class="span-required">*</span></label>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.SizeHeight, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.SizeHeight), @type = "number", @step = "any", @required = "", @onblur = "CalArea();",@style="width:80px;" })
                                    </td>
                                    <td>
                                        <label class="control-label">@Html.DisplayNameFor(model => model.SizeTypeId)<span class="span-required">*</span></label>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.SizeTypeId, Model.GetSelectedItems("SizeType", Model.SizeTypeId, ""), new { @class = "form-control", @onchange = "CalArea();",@required = "", @style="width:80px;" })
                                    </td>
                                    <td>
                                        @Html.HiddenFor(model => model.Area)
                                        <label class="control-label" style="text-align: left;" id="lb_square">@Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(Model.Area) @Model.SizeTypeIdSizeTypeName</label>
                                        <script>
                                            var AvailableSizeType = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AvailableSizeType));
                                            function CalArea(){
                                                var SizeWidth = $("#SizeWidth").val();
                                                var SizeHeight = $("#SizeHeight").val();
                                                var SizeTypeId =$("#SizeTypeId").val();

                                                if(SizeWidth!="" && SizeHeight!="" && SizeTypeId!=""){
                                                    var SquareName="";
                                                    for(i=0;i<AvailableSizeType.length;i++){
                                                        if(AvailableSizeType[i].SizeTypeId==SizeTypeId){
                                                            SquareName = AvailableSizeType[i].SquareName;
                                                            break;
                                                        }
                                                    }
                                                    var Area = parseFloat(SizeWidth) * parseFloat(SizeHeight);
                                                    $("#Area").val(Area);
                                                    $("#lb_square").html(addCommas(Area.toFixed(2))+ " "+SquareName);
                                                }
                                            }
                                        </script>

                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.Resolution)</label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.Resolution, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Resolution) })
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.ExtraFunction)</label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.ExtraFunction, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.ExtraFunction) })
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.VatLabelTypeId)<span class="span-required">*</span></label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.VatLabelTypeId, Model.GetSelectedItems("VatLabelType", Model.VatLabelTypeId, ""), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.VatLabelAmount, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.VatLabelAmount), @type = "number", @step = "any", @required = "" })
                        </div>
                        <label class="col-sm-1 control-label">@MyResources.Winplus.Resource.Baht</label>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.VisiblePosition)</label>
                        <div class="col-sm-9">
                            @Html.HiddenFor(model => model.VisiblePosition)
                            <input type="button" class="btn btn-secondary" value="Upload" onclick="UploadVisiblePosition()" />
                            <div id="show_image">
                                @if (!string.IsNullOrEmpty(Model.VisiblePosition))
                                {
                                    <img src="@Url.Content("~/Image/Show/" + Model.VisiblePosition)" height="120" />
                                }
                            </div>
                            <script>
                                function UploadVisiblePosition() {
                                    OpenUploadDocumentDialog("VisiblePosition", @Model.ProductId, null, CallBackUploadVisiblePosition);
                                }

                                function CallBackUploadVisiblePosition(result) {
                                    if(result.StatusCode=="0"){
                                        document.getElementById("show_image").innerHTML="<img src=\"@Url.Content("~/Image/Show/")"+result.JsonData.DocumentNo+"\" height=\"120\" />";
                                        $("#VisiblePosition").val(result.JsonData.DocumentNo);
                                    }else{
                                        alert(result.Message);
                                    }
                                }
                            </script>
                        </div>

                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.BoardInstallerId)<span class="span-required">*</span></label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.BoardInstallerId, Model.GetSelectedItems("BoardInstaller", Model.BoardInstallerId, ""), new { @class = "form-control", @required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.BoardInstallerCondition)<span class="span-required">*</span></label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.BoardInstallerCondition, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.BoardInstallerCondition), @required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.PreBookingDaysId)<span class="span-required">*</span></label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.PreBookingDaysId, Model.GetSelectedItems("PreBookingDays", Model.PreBookingDaysId, ""), new { @class = "form-control", @required = "" })
                            </div>
                        </div>
                        <label class="col-sm-1 control-label">@MyResources.Winplus.Resource.Days</label>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.BoardInstallationTimeId)<span class="span-required">*</span></label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.BoardInstallationTimeId, Model.GetSelectedItems("BoardInstallationTime", Model.BoardInstallationTimeId, ""), new { @class = "form-control", @required = "" })
                            </div>
                        </div>
                        <label class="col-sm-1 control-label">@MyResources.Winplus.Resource.Days</label>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.PreBookingPeriodId)<span class="span-required">*</span></label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.PreBookingPeriodId, Model.GetSelectedItems("PreBookingPeriod", Model.PreBookingPeriodId, ""), new { @class = "form-control", @required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.MinimumBookingPeroidId)<span class="span-required">*</span></label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.MinimumBookingPeroidId, Model.GetSelectedItems("MinimumBookingPeroid", Model.MinimumBookingPeroidId, ""), new { @class = "form-control", @required = "" })
                            </div>
                        </div>
                    </div>
                    @{
                        var TagCategories = Model.GetTagCategory(Model.ProductId, true);
                    }

                    @foreach (var category in TagCategories)
                    {
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">@loc.Resource(category.ResourceString)</label>
                            <div class="col-sm-9">
                                <select name="TagDetailIds" data-placeholder="Please select.." class="chosen-select" multiple>
                                    @{
                                        var lstTag = category.TagDetails;
                                        foreach (var tag in lstTag)
                                        {
                                            <option value="@tag.TagDetailId" @(tag.Selected ? "selected" : "")>@loc.Resource(tag.ResourceString)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    }

                    <div class="form-group col-sm-12" style="display:none;">
                        <label class="col-sm-3 control-label">@MyResources.Winplus.Resource.ScreenType</label>
                        <div class="col-sm-9">
                            @{
                                var lstScreenType = Model.GetSelectedScreenType();
                                foreach (var item in lstScreenType)
                                {
                                    <div class="col-sm-4">
                                        <div class="col-sm-12">
                                            <input type="radio" name="ScreenTypeId" value="@item.ScreenTypeId" @(item.ScreenTypeId == @Model.ScreenTypeId ? "checked" : "")> @item.ScreenTypeName<br>
                                        </div>
                                        <div class="col-sm-12">
                                            <img src="@Url.Content("~/Image/Show/" + item.ScreenExample)" height="120" />
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <label class="col-sm-12 control-label" style="text-align:left;font-weight:bold;">@MyResources.Winplus.Resource.OwnerInfo</label>
	                </div>

                     <div class="form-group col-sm-12">
		                <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.OwnerFirstName)</label>
		                <div class="col-sm-3">
			                @Html.TextBoxFor(model=>model.OwnerFirstName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.OwnerFirstName)})
		                </div>
		                <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.OwnerLastName)</label>
		                <div class="col-sm-3">
			                @Html.TextBoxFor(model=>model.OwnerLastName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.OwnerLastName)})
		                </div>
	                </div>

	                <div class="form-group col-sm-12">
		                <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.OwnerNickName)</label>
		                <div class="col-sm-3">
			                @Html.TextBoxFor(model=>model.OwnerNickName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.OwnerNickName)})
		                </div>
		                <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.OwnerPhone1)</label>
		                <div class="col-sm-3">
			                @Html.TextBoxFor(model=>model.OwnerPhone1, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.OwnerPhone1)})
		                </div>
	                </div>

	                <div class="form-group col-sm-12">
		                <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.OwnerPhone2)</label>
		                <div class="col-sm-3">
			                @Html.TextBoxFor(model=>model.OwnerPhone2, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.OwnerPhone2)})
		                </div>
		                <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.CostPrice)</label>
		                <div class="col-sm-3">
			                @Html.TextBoxFor(model=>model.CostPrice, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.CostPrice),@type="number",@step="any"})
		                </div>
	                </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button class="btn ladda-button btn-info" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            <button class="btn ladda-button btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
        $('.chosen-select').chosen({ width: "560px;" });
    }

    function _initialSubmitForm() {
        $("#ProductFullDetail").val($('#ProductFullDetail-Editor').code());
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            LoadProductForm("@Url.Content("~/product/FindLocation/")");
        } else {
            alert(data.Message);
        }
    }

</script>

