﻿@model Library.Winplus.syslib.standard.product.model.Product

@Html.HiddenFor(model => model.ProductId)
@Html.HiddenFor(model => model.location.LocationName)
@Html.HiddenFor(model => model.location.LocationId)
@Html.HiddenFor(model => model.location.VersionNumber)
@Html.HiddenFor(model => model.location.OrganizationId)
@Html.HiddenFor(model => model.location.ActiveStatusId)
@Html.HiddenFor(model => model.location.GoogleCountry)
@Html.HiddenFor(model => model.location.GoogleProvince)

<div class="form-group col-sm-12">
        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.location.Latitude)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.location.Latitude, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.location.Latitude),@required=""})
	</div>
</div>
<div class="form-group col-sm-12">
        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.location.Longitude)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.location.Longitude, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.location.Longitude),@required=""})
	</div>
</div>
<div class="form-group col-sm-12">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.location.CountryId)<span class="span-required">*</span></label>
	<div class="col-sm-8">
        @Html.DropDownListFor(model => model.location.CountryId,Model.GetSelectedItems("Country", Model.location.CountryId,""), new { @class = "form-control",@onchange="GoogleLoadAddress();",@required="" })
	</div>
</div>
<div class="form-group col-sm-12">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.location.ProvinceId)<span class="span-required">*</span></label>
	<div class="col-sm-8">
        @Html.DropDownListFor(model => model.location.ProvinceId,Model.GetSelectedItems("Province", null,"",((Model.location.CountryId.HasValue?"and CountryId="+Model.location.CountryId.Value:""))), new { @class = "form-control",@onchange="GoogleLoadAddress();",@required="" })
	</div>
</div>
<div class="form-group col-sm-12">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.location.District)<span class="span-required">*</span></label>
	<div class="col-sm-8">
        @Html.TextBoxFor(model=>model.location.District, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.location.District) ,@required=""})
	</div>
</div>
<div class="form-group col-sm-12">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.location.SubDistrict)<span class="span-required">*</span></label>
	<div class="col-sm-8">
        @Html.TextBoxFor(model=>model.location.SubDistrict, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.location.SubDistrict) ,@required=""})
	</div>
</div>
<div class="form-group col-sm-12">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.location.PostalCode)<span class="span-required">*</span></label>
	<div class="col-sm-8">
        @Html.TextBoxFor(model=>model.location.PostalCode, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.location.PostalCode) ,@required=""})
	</div>
</div>
<div class="form-group col-sm-12">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.location.Road)</label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.location.Road, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.location.Road)})
	</div>
</div>
<div class="form-group col-sm-12">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.location.Building)</label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.location.Building, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.location.Building)})
	</div>
</div>
                        
<div class="form-group col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <button class="btn ladda-button btn-info" data-style="expand-left" type="submit" onclick="SaveLocationInfo()" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
        <button class="btn ladda-button btn-white" data-style="expand-left" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
    </div>
</div>