﻿@model Library.Winplus.syslib.standard.product.model.Product

  @Html.Partial("~/Views/documentupload/addeditdialog.cshtml", new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload())
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="search-form-cancellation-method" method="post" class="form-horizontal" action="@Url.Content("~/product/SaveLocation")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>
                            @MyResources.Winplus.Resource.ProductImage >> @Model.ProductName
                        </h2>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    @Html.HiddenFor(model => model.ProductId, new { @class = "form-control input-search" })
                
                    <div class="row"> 
                        <div class="form-group col-sm-12">
                            @{
                                    Library.Winplus.syslib.standard.documentupload.model.DocumentUpload doc = new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload();
                                    doc.EntityName = "Product";
                                    doc.EntityId = Model.ProductId;
                                    doc.Editable = true;
                            }
                            @Html.Partial("~/Views/documentupload/onepagedocument.cshtml", doc)
                                                  </div>
	                    <div class="col-sm-12">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4" style="text-align:right;">
                                <button class="btn ladda-button btn-info" data-style="expand-left" type="button" onclick="javascript:LoadProductForm('@Url.Content("~/product/FindProductPriceMonthly/")');" id="btn-save">@MyResources.Winplus.Resource.Next</button>
                                <button class="btn ladda-button btn-white" data-style="expand-left" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();

        Product_inittbDocumentUpload();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>