﻿@model Library.Winplus.syslib.standard.product.model.Product

@Html.Partial("~/Views/product/dialog/dlg_addedit_productprice_monthly.cshtml", new Library.Winplus.syslib.standard.productpricemonthly.model.ProductPriceMonthly())
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="search-form-productprice-monthly" method="post" class="form-horizontal" onsubmit="return false">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>
                            @MyResources.Winplus.Resource.ProductPrice >> @Model.ProductName
                        </h2>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                
                    <div class="row"> 
                        <div class="form-group col-sm-12">
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x:visible;overflow-y:visible">
                                @{
                                    var obj = new Library.Winplus.syslib.standard.productpricemonthly.model.ProductPriceMonthly();
                                }
                                 <table id="tbResultProductPriceMonthly" class="display nowrap hover table table-striped table-bordered" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                            <th></th>
                                            <th>@Html.DisplayNameFor(model => obj.DateFrom)</th>
                                            <th>@Html.DisplayNameFor(model => obj.DateTo)</th>
                                            <th>@Html.DisplayNameFor(model => obj.UnitPrice)</th>
                                            <th>@Html.DisplayNameFor(model => obj.ProductPricePeriodTypeIdProductPricePeriodTypeName)</th>
                                            <th>@Html.DisplayNameFor(model => obj.TotalPrice)</th>
                                            <th>@Html.DisplayNameFor(model => obj.CommissionPrice)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>

                            <script>
                                var tbResultProductPriceMonthly = null;
                                function _initTbResultProductPriceMonthly() {
                                    tbResultProductPriceMonthly = $('#tbResultProductPriceMonthly').DataTable({
                                        "serverSide": true,
                                        "bFilter": true,
                                        "columnDefs": [
                                            { "targets": [1], "orderable": false }
                                        ],
                                        "order": [[ 0, "desc" ]],
                                        "ajax": {
                                            "url": '@Url.Content("~/productpricemonthly/search?")'+ "search_ProductId=@Model.ProductId",
                                            "type": "POST"
                                        },
                                        "columns": [
                                            { "name": "ProductPriceMonthlyId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                                            { "name": "", "width": "5px", "data": "ProductPriceMonthlyId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "ProductPriceMonthlyId","SelectProductPriceMonthly"); } },
                                            { "name": "DateFrom", "data": "DateFrom", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                                            { "name": "DateTo", "data": "DateTo", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                                            { "name": "UnitPrice", "data": "UnitPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                                            { "name": "ProductPricePeriodTypeId", "data": "ProductPricePeriodTypeIdProductPricePeriodTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                                            { "name": "TotalPrice", "data": "TotalPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                                            { "name": "CommissionPrice", "data": "CommissionPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                                        ],
                                        "cache": false,
                                        fnDrawCallback: function( settings, json ) {
                                            $('.i-checks').iCheck({
                                                checkboxClass: 'icheckbox_square-green',
                                                radioClass: 'iradio_square-green',
                                            });

                                        },
                                        initComplete: function(settings, json) {
                                            $("#tbResultProductPriceMonthly_filter").html($("#grid-menu-productprice-monthly").html());
                                        }
                                    });

                                }
                            </script>
                        </div>
	                    <div class="col-sm-12">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4" style="text-align:right;">
                                <button class="btn ladda-button btn-info" data-style="expand-left" type="button" onclick="javascript:LoadProductForm('@Url.Content("~/product/FindProductPromotion/")');" id="btn-save">@MyResources.Winplus.Resource.Next</button>
                                <button class="btn ladda-button btn-white" data-style="expand-left" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

    <div style="display: none" id="grid-menu-productprice-monthly">
        <button class="btn btn-success btn-circle" type="button" onclick="gotoAddProductPriceMonthly();" title="Add"><i class="fa fa-plus"></i></button>
        <button class="btn btn-warning btn-circle" type="button" onclick="gotoEditProductPriceMonthly();" title="Edit"><i class="fa fa-edit"></i></button>
        <button class="btn btn-danger btn-circle" type="button" onclick="gotoDeleteProductPriceMonthly();" title="Delete"><i class="fa fa-minus"></i></button>
    </div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
        _initTbResultProductPriceMonthly();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

    //OpenFormProductPriceMonthly(productId, id, successCallBack)
    function gotoAddProductPriceMonthly() {
        OpenFormProductPriceMonthly(@Model.ProductId,null, SearchRefresh);
    }

    function SearchRefresh(data){
        tbResultProductPriceMonthly.ajax.url("@Url.Content("~/productpricemonthly/search?")" + "search_ProductId=@Model.ProductId").load();
    }

    function gotoEditProductPriceMonthly(){
        var id = getCheckedOneValue("SelectProductPriceMonthly");
        if (id != 0) {
            OpenFormProductPriceMonthly(@Model.ProductId,id, SearchRefresh);
        }
    }
    
    function gotoDeleteProductPriceMonthly() {
        var ids = getCheckedMultiple("SelectProductPriceMonthly",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/productpricemonthly/delete?ids=")" + ids, SearchRefresh);
            }
        }
    }

</script>