﻿@model Library.Winplus.syslib.standard.product.model.Product

@Html.Partial("~/Views/product/dialog/dlg_addedit_cancellationmethod.cshtml", new Library.Winplus.syslib.standard.cancellationmethod.model.CancellationMethod())
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="search-form-cancellation-method" method="post" class="form-horizontal" action="@Url.Content("~/product/SaveLocation")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>
                            @MyResources.Winplus.Resource.AddEditProductCancellationMethod
                        </h2>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                
                    <div class="row"> 
                        <div class="form-group col-sm-12">
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x:auto;">
                                @{
                                    var cal = new Library.Winplus.syslib.standard.productcancellationmethod.model.ProductCancellationMethod();
                                }
                                <table id="tbResultCancellationMethod" class="display nowrap hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                            <th><input type="checkbox" class="checkall" /></th>
                                            <th>@Html.DisplayNameFor(model => cal.DateFrom)</th>
                                            <th>@Html.DisplayNameFor(model => cal.DateTo)</th>
                                            <th>@Html.DisplayNameFor(model => cal.CancellationMethodId)</th>
                                            <th>@MyResources.Winplus.Resource.Explanation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>

                            <script>
                                var tbResultCancellationMethod = null;
                                function _initTbResultCancellationMethod() {
                                    tbResultCancellationMethod = $('#tbResultCancellationMethod').DataTable({
                                        "serverSide": true,
                                        "bFilter": true,
                                        "columnDefs": [
                                            { "targets": [1], "orderable": false }
                                        ],
                                        "order": [[0, "desc"]],
                                        "ajax": {
                                            "url": '@Url.Content("~/productcancellationmethod/search?")' + "search_ProductId=@Model.ProductId",
                                            "type": "POST"
                                        },
                                        "columns": [
                                            { "name": "ProductCancellationMethodId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                                            { "name": "", "width": "5px", "data": "ProductCancellationMethodId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "ProductCancellationMethodId", "SelectCancellationMethod"); } },
                                            { "name": "DateFrom", "data": "DateFrom", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                                            { "name": "DateTo", "data": "DateTo", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                                            { "name": "CancellationMethodId", "data": "CancellationMethodIdCancellationMethodName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                                            { "name": "ProductCancellationMethodName", "data": "ProductCancellationMethodName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                                        ],
                                        "cache": false,
                                        fnDrawCallback: function (settings, json) {
                                            $('.i-checks').iCheck({
                                                checkboxClass: 'icheckbox_square-green',
                                                radioClass: 'iradio_square-green',
                                            });

                                            $(".checkall").iCheck({
                                                checkboxClass: 'icheckbox_square-green',
                                                radioClass: 'iradio_square-green',
                                            }).on('ifChanged', function (e) {
                                                // Get the field name
                                                var isChecked = e.currentTarget.checked;
                                                if (isChecked) {
                                                    $('.chkProductCancellationMethodId').iCheck('check');
                                                } else {
                                                    $('.chkProductCancellationMethodId').iCheck('uncheck');
                                                }
                                            });
                                        },
                                        initComplete: function (settings, json) {
                                            $("#tbResultCancellationMethod_filter").html($("#grid-menu-cancellation-method").html());
                                        }
                                    });

                                }
                            </script>
                        </div>
	                    <div class="form-group col-sm-12">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <button class="btn btn-white btn-size-100-40" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

    <div style="display: none" id="grid-menu-cancellation-method">
        <button class="btn btn-success btn-circle" type="button" onclick="gotoAddCancellationMethod();" title="Add"><i class="fa fa-plus"></i></button>
        <button class="btn btn-warning btn-circle" type="button" onclick="gotoEditCancellationMethod();" title="Edit"><i class="fa fa-edit"></i></button>
        <button class="btn btn-danger btn-circle" type="button" onclick="gotoDeleteCancellationMethod();" title="Delete"><i class="fa fa-minus"></i></button>
    </div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
        _initTbResultCancellationMethod();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

    //OpenFormCancellationMethod(productId, id, successCallBack)
    function gotoAddCancellationMethod() {
        OpenFormCancellationMethod(@Model.ProductId,null, SearchRefresh);
    }

    function SearchRefresh(data){
        tbResultCancellationMethod.ajax.url("@Url.Content("~/productcancellationmethod/search?")" + "search_ProductId=@Model.ProductId").load();
    }

    function gotoEditCancellationMethod(){
        var id = getCheckedOneValue("SelectCancellationMethod");
        if (id != 0) {
            OpenFormCancellationMethod(@Model.ProductId,id, SearchRefresh);
        }
    }
    
    function gotoDeleteCancellationMethod() {
        var ids = getCheckedMultiple("SelectCancellationMethod",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/productcancellationmethod/delete?ids=")" + ids, SearchRefresh);
            }
        }
    }

</script>