﻿@model Library.Winplus.syslib.standard.product.model.Product

@Html.Partial("~/Views/product/dialog/dlg_addedit_promotion.cshtml", new Library.Winplus.syslib.standard.productpromotion.model.ProductPromotion())

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="search-form-productpromotion" method="post" class="form-horizontal" onsubmit="return false">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>
                            @MyResources.Winplus.Resource.ProductPromotion >> @Model.ProductName
                        </h2>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                
                    <div class="row"> 
                        <div class="form-group col-sm-12">
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x:visible;overflow-y:visible;">
                                @{
                                    var obj = new Library.Winplus.syslib.standard.productpromotion.model.ProductPromotion();
                                }
                                 <table id="tbResultProductPromotion" class="display nowrap hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.DatePeriod</th>
                                            <th>@Html.DisplayNameFor(model => obj.UnitPrice)</th>
                                            <th>@Html.DisplayNameFor(model => obj.Discount)</th>
                                            <th>@Html.DisplayNameFor(model => obj.DiscountTypeId)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>

                            <script>
                                var tbResultProductPromotion = null;
                                function _initTbResultProductPromotion() {
                                    tbResultProductPromotion = $('#tbResultProductPromotion').DataTable({
                                        "serverSide": true,
                                        "bFilter": true,
                                        "columnDefs": [
                                            { "targets": [1], "orderable": false }
                                        ],
                                        "order": [[ 0, "desc" ]],
                                        "ajax": {
                                            "url": '@Url.Content("~/productpromotion/search?")'+ "search_ProductId=@Model.ProductId",
                                            "type": "POST"
                                        },
                                        "columns": [
                                            { "name": "DateFrom", "data": "DateFrom", "render": function (data, type, row, meta) { return FormatDateFromTo("DateFrom","DateTo", type, row, meta); } },
                                            { "name": "UnitPrice", "data": "UnitPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                                            { "name": "Discount", "data": "Discount", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                                            { "name": "DiscountTypeName", "data": "DiscountTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                                        ],
                                        "cache": false,
                                        fnDrawCallback: function( settings, json ) {
                                            $('.i-checks').iCheck({
                                                checkboxClass: 'icheckbox_square-green',
                                                radioClass: 'iradio_square-green',
                                            });

                                        },
                                        initComplete: function(settings, json) {
                                            $("#tbResultProductPromotion_filter").html($("#grid-menu-productpromotion").html());
                                        }
                                    });

                                }
                                
                                function FormatDateFromTo(colFrom,colTo, type, row, meta) {
                                    var data = null;

                                    var fromTxt = "";
                                    data = row[colFrom];
                                    if (data != null) {
                                        fromTxt = new Date(data).addHours(7).format("dd/mm/yyyy", false);
                                    }

                                    var toTxt = "";
                                    data = row[colTo];
                                    if (data != null) {
                                        toTxt = new Date(data).addHours(7).format("dd/mm/yyyy", false);
                                    }
                                    
                                    return "<a href='javascript:gotoEditProductPromotion(" + row["ProductPriceMonthlyId"] + ");'>(Click:@MyResources.Winplus.Resource.EditDiscount) " + fromTxt + " - " + toTxt + "</a>";
                                }

                            </script>
                        </div>
	                    <div class="col-sm-12">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4" style="text-align:right;">
                                <button class="btn ladda-button btn-white" data-style="expand-left" type="button" onclick="javascript:gotoSearch();" id="btn-save">@MyResources.Winplus.Resource.BackToSearch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <div style="display: none" id="grid-menu-productpromotion">
    </div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
        _initTbResultProductPromotion();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

    //OpenFormProductPromotion(productId, id, successCallBack)
    function gotoAddProductPromotion() {
        OpenFormProductPromotion(@Model.ProductId,null, SearchRefresh);
    }

    function SearchRefresh(data){
        tbResultProductPromotion.ajax.url("@Url.Content("~/productpromotion/search?")" + "search_ProductId=@Model.ProductId").load();
    }

    function gotoEditProductPromotion(ProductPriceMonthlyId){
        OpenFormProductPromotion(ProductPriceMonthlyId, SearchRefresh);
    }
    
    function gotoDeleteProductPromotion() {
        var ids = getCheckedMultiple("SelectProductPromotion",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/productpromotion/delete?ids=")" + ids, SearchRefresh);
            }
        }
    }
</script>