@model Library.Winplus.syslib.standard.product.model.Product
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
    Int64? PublicOrganizationId = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetLongConfig(loginUser, Library.Winplus.syslib.customize.systemconfig.keys.SystemConfigKey.PublicOrganizationId);
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/product/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.ProductId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.ProductName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(loginUser, "Product", "Add") || Model.HasAuthorize(loginUser, "Product", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                    @Html.HiddenFor(model => model.ProductId)
                    @Html.HiddenFor(model => model.VersionNumber)
                
                    <div class="form-group col-sm-12">
                    @{
                            Library.Winplus.syslib.standard.documentupload.model.DocumentUpload doc = new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload();
                            doc.EntityName = "Product";
                            doc.EntityId = Model.ProductId;
                            doc.Editable = true;
                    }
                    @Html.Partial("~/Views/documentupload/onepagedocument.cshtml", doc)
                    </div>
	                @if(!Model.IsHiddenName){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProductName)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.ProductName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.ProductName),@required=""})
		                </div>
	                </div>
                     }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProductCategoryId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('ProductCategory','ProductCategoryId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ProductCategoryId, Model.GetSelectedItems("ProductCategory", Model.ProductCategoryId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LocationId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Location','LocationId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.LocationId, Model.GetSelectedItems("Location", Model.LocationId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SizeWidth)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model => model.SizeWidth, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.SizeWidth), @type = "number", @step = "any", @required = "" })
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SizeHeight)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model => model.SizeHeight, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.SizeHeight), @type = "number", @step = "any", @required = "" })
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SizeTypeId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('SizeType','SizeTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.SizeTypeId, Model.GetSelectedItems("SizeType", Model.SizeTypeId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Resolution)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model => model.Resolution, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Resolution) })
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ExtraFunction)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model => model.ExtraFunction, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.ExtraFunction) })
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.VatLabelTypeId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('VatLabelType','VatLabelTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.VatLabelTypeId, Model.GetSelectedItems("VatLabelType", Model.VatLabelTypeId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.VatLabelAmount)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model => model.VatLabelAmount, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.VatLabelAmount), @type = "number", @step = "any", @required = "" })
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.VisiblePosition)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model => model.VisiblePosition, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.VisiblePosition) })
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardInstallerId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('BoardInstaller','BoardInstallerId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BoardInstallerId, Model.GetSelectedItems("BoardInstaller", Model.BoardInstallerId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardInstallerConditionId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('BoardInstallerCondition','BoardInstallerConditionId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BoardInstallerConditionId, Model.GetSelectedItems("BoardInstallerCondition", Model.BoardInstallerConditionId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PreBookingDaysId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('PreBookingDays','PreBookingDaysId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.PreBookingDaysId, Model.GetSelectedItems("PreBookingDays", Model.PreBookingDaysId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardInstallationTimeId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('BoardInstallationTime','BoardInstallationTimeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BoardInstallationTimeId, Model.GetSelectedItems("BoardInstallationTime", Model.BoardInstallationTimeId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PreBookingPeriodId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('PreBookingPeriod','PreBookingPeriodId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.PreBookingPeriodId, Model.GetSelectedItems("PreBookingPeriod", Model.PreBookingPeriodId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.MinimumBookingPeroidId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('MinimumBookingPeroid','MinimumBookingPeroidId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.MinimumBookingPeroidId, Model.GetSelectedItems("MinimumBookingPeroid", Model.MinimumBookingPeroidId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ScreenTypeId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('ScreenType','ScreenTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ScreenTypeId, Model.GetSelectedItems("ScreenType", Model.ScreenTypeId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProductPricePeriodTypeId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('ProductPricePeriodType','ProductPricePeriodTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ProductPricePeriodTypeId, Model.GetSelectedItems("ProductPricePeriodType", Model.ProductPricePeriodTypeId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ActiveStatusId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('ActiveStatus','ActiveStatusId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ActiveStatusId, Model.GetSelectedItems("ActiveStatus", Model.ActiveStatusId, ""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                @if (!Model.IsHiddenDisplayIndex)
                 {
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DisplayIndex)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model => model.DisplayIndex, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.DisplayIndex), @type = "number" })
		                </div>
	                </div>
                 }
            </div>
                
            <div class="row" style="border:1px solid #E7EAEC;padding-top:10px;">
                <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.OrganizationId)</label>
                        @if (PublicOrganizationId.HasValue && loginUser.OrganizationId.Value == PublicOrganizationId.Value)
                        {
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.OrganizationId, Model.GetSelectedItems("Organization", Model.OrganizationId, ""), new { @class = "form-control" })
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-8 value-padding">
			                    @Html.ValueFor(model => model.OrganizationName)
                                @Html.HiddenFor(model => model.OrganizationId)
                            </div>
                        }
		           
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.VersionNumber)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model => model.VersionNumber)
		            </div>
	            </div>
                <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model => model.CreatedOn)
		            </div>
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model => model.CreatedBySystemUserName)
		            </div>
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model => model.ModifiedOn)
		            </div>
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.ModifiedBySystemUserName)
		            </div>
	            </div>
            </div>
        </div>
        </form>
    </div>
</div>
@Html.Partial("~/Views/documentupload/addeditdialog.cshtml", new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload())

<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();

        Product_inittbDocumentUpload();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
