﻿@model Library.Winplus.syslib.standard.product.model.Product
<style>
</style>
<div class="row">
    <div class="col-sm-3">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="normal_link">
                        <a href="javascript:LoadProductForm('@Url.Content("~/product/FindInfo/")');">
                            <i class="fa fa-bars"></i>
                            <span class="nav-label">@MyResources.Winplus.Resource.ProductInfo</span>
                        </a>
                    </li>
                    <li class="normal_link">
                        <a href="javascript:LoadProductForm('@Url.Content("~/product/FindLocation/")');">
                            <i class="fa fa-location-arrow"></i>
                            <span class="nav-label">@MyResources.Winplus.Resource.LocationProduct</span>
                        </a>
                    </li>
                    <li class="normal_link">
                        <a href="javascript:LoadProductForm('@Url.Content("~/product/FindUploadImage/")');">
                            <i class="fa fa-picture-o"></i>
                            <span class="nav-label">@MyResources.Winplus.Resource.ProductImage</span>
                        </a>
                    </li>
                    <li class="normal_link">
                        <a href="javascript:LoadProductForm('@Url.Content("~/product/FindProductPriceMonthly/")');">
                            <i class="fa fa-money"></i>
                            <span class="nav-label">@MyResources.Winplus.Resource.ProductPrice</span>
                        </a>
                    </li>
                    <li class="normal_link">
                        <a href="javascript:LoadProductForm('@Url.Content("~/product/FindProductPromotion/")');">
                            <i class="fa fa-eur"></i>
                            <span class="nav-label">@MyResources.Winplus.Resource.Promotion</span>
                        </a>
                    </li>
                    <li class="special_link">
                        <a href="javascript:gotoSearch();"><i class="fa fa-windows"></i>
                            <span class="nav-label"> @MyResources.Winplus.Resource.BackToSearch</span>

                        </a>
                    </li>
                </ul>

            </div>
        </nav>

    </div>
    <div class="col-sm-9" id="form-layout-product">
    
    </div>
</div>
<script>
    var id = @Model.ProductId;
    function singlePageLoad() {
        ajaxPartialLoad("@Url.Content("~/product/FindInfo/")" + id, "form-layout-product", _InitialPartialForm)
    }

    function _InitialPartialForm(html) {
        _initialAddEditForm();
    }

    function LoadProductForm(url){
        ajaxPartialLoad(url + id, "form-layout-product", _InitialPartialForm)
    }
</script>