@model Library.Winplus.syslib.standard.product.search.ProductSearch
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
}

@Html.Partial("~/Views/product/import.cshtml",Model)

<div class="row" id="addedit-section">

</div>

<div class="row" id="search-section">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="m-t-lg m-b-md">
                <h2>@MyResources.Winplus.Resource.TitleSearchProduct</h2>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <section class="content-header">
                        <div class="box box-default color-palette-box">
                            <div class="box-body">
                                <div class="row">
                                    <form id="search-form">
                                        <!-- Advance Search -->
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="advance-search-form" class="collapse">
                                                        <a href="#" data-toggle="collapse" data-target="#advance-search-form">@MyResources.Winplus.Resource.AdvanceSearch</a>
                                                        <div style="height: 3px;"></div>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductName)</label>
                                                                    @Html.TextBoxFor(model => model.search.ProductName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductCategoryId)</label>
                                                                    @Html.DropDownListFor(model => model.search.ProductCategoryId,Model.GetSelectedItems("ProductCategory", Model.search.ProductCategoryId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductPricePeriodTypeId)</label>
                                                                    @Html.DropDownListFor(model => model.search.ProductPricePeriodTypeId,Model.GetSelectedItems("ProductPricePeriodType", Model.search.ProductPricePeriodTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Basic search by text -->
                                        <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="form-group">
                                                <input type="text" id="SearchText" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.TextToSearch" />
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" aria-label="Advance Search" data-toggle="collapse" data-target="#advance-search-form">
                                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                                </button>
                                                <button type="button" onclick="javascript:clearSearch();" class="btn btn-default" aria-label="Clear">
                                                    <span class="glyphicon glyphicon-erase"></span>
                                                </button>
                                                <button type="button" onclick="javascript:gotoSearch();" class="btn btn-default" aria-label="Search">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div style="height: 3px;"></div>
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x: visible;overflow-y:visible;">
                                <table id="tbResult" class="display nowrap hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                            <th><input type="checkbox" class="checkall" /></th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProductName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProductCategoryId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SizeWidth)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SizeHeight)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SizeTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Resolution)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProductPrice)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <div style="display: none" class="grid-menu">
        <button class="btn btn-success btn-circle" type="button" onclick="gotoInitialProduct();" title="Add"><i class="fa fa-plus"></i></button>
        <button class="btn btn-danger btn-circle" type="button" onclick="gotoDelete();" title="Delete"><i class="fa fa-minus"></i></button>
    </div>

</div>



<script>

    // After menu click and ajax loading completed...
    function singlePageLoad() {
        _initTbResult();
        bindingStandardField();

        $('#search-section .input-search').unbind('keyup');
        $("#search-section .input-search").keyup(function (event) {
            if (event.keyCode == 13) {
                gotoSearch();
            }
        });
    }

    function clearSearch() {
        $("#search-section .input-search").val('');
    }

    var tbResult = null;
    function _initTbResult() {
        tbResult = $('#tbResult').DataTable({
            "serverSide": true,
            "bFilter": true,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[ 0, "desc" ]],
            "ajax": {
                "url": '@Url.Content("~/product/search?")'+ formParams("#search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "ProductId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "", "width": "5px", "data": "ProductId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "ProductId","selectItem"); } },
                { "name": "ProductName", "data": "ProductName", "render": function (data, type, row, meta) { return FormatEditById(data, type, row, meta, "ProductId"); } },
                { "name": "ProductCategoryId", "data": "ProductCategoryLocale", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "SizeWidth", "data": "SizeWidth", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "SizeHeight", "data": "SizeHeight", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "SizeTypeId", "data": "SizeTypeLocale", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Resolution", "data": "Resolution", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ProductPrice", "data": "ProductPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
            ],
            "cache": false,
            fnDrawCallback: function( settings, json ) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkProductId').iCheck('check');
                    } else {
                        $('.chkProductId').iCheck('uncheck');
                    }
                });
            },
            initComplete: function(settings, json) {
                $("#tbResult_filter").html($("#search-section .grid-menu").html());
            }
        });

    }

    function gotoInitialProduct() {
        var url = "@Url.Content("~/Product/InitialProduct")";
        ajaxUrlRequest(url, callBackInitialProduct);
    }

    function callBackInitialProduct(result) {
        if (result.StatusCode == 0) {
            gotoEditById(result.JsonData.ProductId);
        } else {
            alert(result.Message);
        }
    }

        function gotoSearch() {
            $('.checkall').iCheck('uncheck');
            _showSearch(true);
            tbResult.ajax.url("@Url.Content("~/product/search?")" + formParams("#search-form .input-search")).load();
        }

        function gotoAdd() {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/product/find/0")", "addedit-section", _gotoAdd)
        }

        // Callback after ajax completed
        function _gotoAdd(html) {
            _initialAddEditForm();

        }

        function gotoEditById(id) {
            if (id != 0) {
                _showSearch(false);
                ajaxPartialLoad("@Url.Content("~/product/FormLayout/")" + id, "addedit-section", _gotoEditById)
            }
        }

        // Callback after ajax completed
        function _gotoEditById(html) {
            singlePageLoad();
        }

        function gotoActive(activeId) {
            var ids = getCheckedMultiple("selectItem",true);
            if (ids != "") {
                var activeMessage = activeId==1?'active':'Inactive';
                if (confirm("Would you like to " + activeMessage + " data?")) {
                    ajaxUrlRequest("@Url.Content("~/product/active?")id="+activeId+"&ids=" + ids, _gotoActive);
                }
            }
        }

        // Callback after ajax completed
        function _gotoActive(data) {
            if (data.StatusCode == "0")
            {
                gotoSearch();
            }
            else
            {
                alert(data.Message);
            }
        }

        function gotoDelete() {
            var ids = getCheckedMultiple("selectItem",true);
            if (ids != "") {
                if (confirm("Would you like to delete data?")) {
                    ajaxUrlRequest("@Url.Content("~/product/delete?ids=")" + ids, _gotoDelete);
                }
            }
        }

        // Callback after ajax completed
        function _gotoDelete(data) {
            if (data.StatusCode == "0")
            {
                gotoSearch();
            }
            else
            {
                alert(data.Message);
            }
        }

        function gotoExportExcel() {
            var ids = getCheckedMultiple("selectItem",false);
            location.href = "@Url.Content("~/product/exportexcel?")ids=" + ids+"&" + formParams("#search-form .input-search");
        }


        function _showSearch(_showSearch) {
            if (_showSearch) {
                $("#search-section").show();
                $("#addedit-section").hide();
            } else {
                $("#search-section").hide();
                $("#addedit-section").show();
            }
        }
    
</script>