﻿@model Library.Winplus.syslib.standard.saleproduct.model.SaleProduct

<h2>@Model.Product.ProductName</h2>
<form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/salehistory/UpdateStatus")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
    @Html.HiddenFor(model=>model.SaleProductId)
    <div class="form-group col-sm-12">
	    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.OperationStatusId)</label>
	    <div class="col-sm-8">
            <div class="input-group">
                @Html.DropDownListFor(model => model.OperationStatusId,Model.GetSelectedItems("OperationStatus", Model.OperationStatusId,""), new { @class = "form-control" })
            </div>
	    </div>
    </div>
    <div class="col-sm-12" style="text-align:right;">
        <div class="form-group">
            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
            <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
        </div>
    </div>
</form>

<div class="form-group col-sm-12">
@{
        Library.Winplus.syslib.standard.documentupload.model.DocumentUpload doc = new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload();
        doc.EntityName = "SaleProduct";
        doc.EntityId = Model.SaleProductId;
        doc.Editable = true;
}


@Html.Partial("~/Views/documentupload/onepagedocument.cshtml", doc)
</div>


@Html.Partial("~/Views/documentupload/addeditdialog.cshtml", new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload())
<script>
    function _initialAddEditForm() {
        bindingStandardField();
        SaleProduct_inittbDocumentUpload();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
