﻿@model Library.Winplus.syslib.customize.salehistory.search.SaleHistorySearch
<br />
<div class="row" id="addedit-section">

</div>

<div class="row" id="search-section">
    <div class="m-b-md">
        <h2>@MyResources.Winplus.Resource.TitleSaleHistory</h2>
    </div>
    <div class="tabs-container ibox-content" style="padding: 15px 0 15px 0;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1" style="padding: 15px;"> @MyResources.Winplus.Resource.SaleProductInProgress</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" style="padding: 15px;">@MyResources.Winplus.Resource.SaleProductCompleted</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <form id="search-form">
                        <!-- Advance Search -->
                        <div class="col-sm-12 no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="advance-search-form" class="collapse">
                                        <a href="#" data-toggle="collapse" data-target="#advance-search-form">@MyResources.Winplus.Resource.AdvanceSearch</a>
                                        <div style="height: 3px;"></div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>@Html.DisplayNameFor(model => model.search.SaleProductName)</label>
                                                    @Html.TextBoxFor(model => model.search.SaleProductName, new { @class = "form-control input-search" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>@Html.DisplayNameFor(model => model.search.BeginAdvDate)</label>
                                                    <div class="input-daterange input-group">
                                                        <input type="text" class="input-sm form-control input-search" id="search_BeginAdvDate_From" style="height:34px;" value="" />
                                                        <span class="input-group-addon">to</span>
                                                        <input type="text" class="input-sm form-control input-search" id="search_BeginAdvDate_To" style="height:34px;" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>@Html.DisplayNameFor(model => model.search.EndAdvDate)</label>
                                                    <div class="input-daterange input-group">
                                                        <input type="text" class="input-sm form-control input-search" id="search_EndAdvDate_From" style="height:34px;" value="" />
                                                        <span class="input-group-addon">to</span>
                                                        <input type="text" class="input-sm form-control input-search" id="search_EndAdvDate_To" style="height:34px;" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>@Html.DisplayNameFor(model => model.search.SaleProductStateId)</label>
                                                    @Html.DropDownListFor(model => model.search.SaleProductStateId, Model.GetSelectedItems("SaleProductState", Model.search.SaleProductStateId, ""), new { @class = "form-control input-search" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>@Html.DisplayNameFor(model => model.search.OperationStatusId)</label>
                                                    @Html.DropDownListFor(model => model.search.OperationStatusId, Model.GetSelectedItems("OperationStatus", Model.search.OperationStatusId, "", "and OperationStatusId <> 4"), new { @class = "form-control input-search" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Basic search by text -->
                        <div class="col-sm-12 m-b-md no-padding">
                            <div class="input-group">
                                <div class="form-group">
                                    <input type="text" id="SearchText" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.TextToSearch" />
                                </div>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" aria-label="Advance Search" data-toggle="collapse" data-target="#advance-search-form">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                    <button type="button" onclick="javascript:$('#search-section .input-search').val('');" class="btn btn-default" aria-label="Clear">
                                        <span class="glyphicon glyphicon-erase"></span>
                                    </button>
                                    <button type="button" onclick="javascript:gotoSearch();" class="btn btn-default" aria-label="Search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="search-result" class="col-sm-12 no-padding" style="overflow-x: visible;">
                        <table id="tbResult" class="display nowrap hover table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                    <th><input type="checkbox" class="checkall" /></th>
                                    <th>@MyResources.Winplus.Resource.BookingNumber</th>
                                    <th>@Html.DisplayNameFor(model => model.search.SaleProductName)</th>
                                    <th>@Html.DisplayNameFor(model => model.search.BeginAdvDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.search.EndAdvDate)</th>
                                    <th>@MyResources.Winplus.Resource.BookingDate</th>
                                    <th>@Html.DisplayNameFor(model => model.search.SaleProductStateIdSaleProductStateName)</th>
                                    <th>@Html.DisplayNameFor(model => model.search.OperationStatusIdOperationStatusName)</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>


                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">

                    <form id="completed-search-form">
                        <!-- Advance Search -->
                        <div class="col-sm-12 no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="completed-advance-search-form" class="collapse">
                                        <a href="#" data-toggle="collapse" data-target="#advance-search-form">@MyResources.Winplus.Resource.AdvanceSearch</a>
                                        <div style="height: 3px;"></div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>@Html.DisplayNameFor(model => model.search.SaleProductName)</label>
                                                    @Html.TextBoxFor(model => model.search.SaleProductName, new { @class = "form-control input-search" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>@Html.DisplayNameFor(model => model.search.BeginAdvDate)</label>
                                                    <div class="input-daterange input-group">
                                                        <input type="text" class="input-sm form-control input-search" id="completed_search_BeginAdvDate_From" style="height:34px;" value="" />
                                                        <span class="input-group-addon">to</span>
                                                        <input type="text" class="input-sm form-control input-search" id="completed_search_BeginAdvDate_To" style="height:34px;" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>@Html.DisplayNameFor(model => model.search.EndAdvDate)</label>
                                                    <div class="input-daterange input-group">
                                                        <input type="text" class="input-sm form-control input-search" id="completed_search_EndAdvDate_From" style="height:34px;" value="" />
                                                        <span class="input-group-addon">to</span>
                                                        <input type="text" class="input-sm form-control input-search" id="completed_search_EndAdvDate_To" style="height:34px;" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Basic search by text -->
                        <div class="col-sm-12 m-b-md no-padding">
                            <div class="input-group">
                                <div class="form-group">
                                    <input type="text" id="completed-SearchText" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.TextToSearch" />
                                </div>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" aria-label="Advance Search" data-toggle="collapse" data-target="#completed-advance-search-form">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                    <button type="button" onclick="javascript:$('#search-section .input-search').val('');" class="btn btn-default" aria-label="Clear">
                                        <span class="glyphicon glyphicon-erase"></span>
                                    </button>
                                    <button type="button" onclick="javascript:gotoSearch();" class="btn btn-default" aria-label="Search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="completed-search-result">
                        <table id="completed_tbResult" class="display nowrap hover table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                    <th><input type="checkbox" class="checkall" /></th>
                                    <th>@MyResources.Winplus.Resource.BookingNumber</th>
                                    <th>@Html.DisplayNameFor(model => model.search.SaleProductName)</th>
                                    <th>@Html.DisplayNameFor(model => model.search.BeginAdvDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.search.EndAdvDate)</th>
                                    <th>@MyResources.Winplus.Resource.BookingDate</th>
                                    <th>@Html.DisplayNameFor(model => model.search.SaleProductStateIdSaleProductStateName)</th>
                                    <th>@Html.DisplayNameFor(model => model.search.OperationStatusIdOperationStatusName)</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>


    </div>


</div>
<script>

    function singlePageLoad() {
        _initTbResult();
        bindingStandardField();

        $('#search-section .input-search').unbind('keyup');
        $("#search-section .input-search").keyup(function (event) {
            if (event.keyCode == 13) {
                gotoSearch();
            }
        });

    }

    var tbResult = null;
    function _initTbResult() {
        tbResult = $('#tbResult').DataTable({
            "serverSide": true,
            "bFilter": true,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[0, "desc"]],
            "ajax": {
                "url": '@Url.Content("~/salehistory/search?")' + formParams("#search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "SaleProductId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "", "width": "5px", "data": "SaleProductId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "SaleProductId", "selectItem"); } },
                { "name": "BookingNumber", "data": "BookingNumber", "render": function (data, type, row, meta) { return FormatEditById(data, type, row, meta, "SaleProductId"); } },
                { "name": "SaleProductName", "data": "SaleProductName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BeginAdvDate", "data": "BeginAdvDate", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                { "name": "EndAdvDate", "data": "EndAdvDate", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                { "name": "BookingDate", "data": "BookingDate", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                { "name": "SaleProductStateIdSaleProductStateName", "data": "SaleProductStateLocale", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "OperationStatusIdOperationStatusName", "data": "OperationStatusLocale", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } }
            ],
            "cache": false,
            fnDrawCallback: function (settings, json) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkSaleProductId').iCheck('check');
                    } else {
                        $('.chkSaleProductId').iCheck('uncheck');
                    }
                });
            },
            initComplete: function (settings, json) {
                $("#tbResult_filter").html("");
                _initCompletedTbResult();
            }
        });
    }


    var completed_tbResult = null;
    function _initCompletedTbResult() {
        completed_tbResult = $('#completed_tbResult').DataTable({
            "serverSide": true,
            "bFilter": true,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[0, "desc"]],
            "ajax": {
                "url": '@Url.Content("~/salehistory/searchcompleted?")' + formParams("#completed-search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "SaleProductId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "", "width": "5px", "data": "SaleProductId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "SaleProductId", "selectItem"); } },
                { "name": "BookingNumber", "data": "BookingNumber", "render": function (data, type, row, meta) { return FormatEditById(data, type, row, meta, "SaleProductId"); } },
                { "name": "SaleProductName", "data": "SaleProductName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BeginAdvDate", "data": "BeginAdvDate", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                { "name": "EndAdvDate", "data": "EndAdvDate", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                { "name": "BookingDate", "data": "BookingDate", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                { "name": "SaleProductStateIdSaleProductStateName", "data": "SaleProductStateIdSaleProductStateName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "OperationStatusIdOperationStatusName", "data": "OperationStatusIdOperationStatusName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } }
            ],
            "cache": false,
            fnDrawCallback: function (settings, json) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkSaleProductId').iCheck('check');
                    } else {
                        $('.chkSaleProductId').iCheck('uncheck');
                    }
                });
            },
            initComplete: function (settings, json) {
                $("#completed_tbResult_filter").html("");
            }
        });
    }

    function gotoSearch() {
        _showSearch(true);
        $('.checkall').iCheck('uncheck');
        tbResult.ajax.url("@Url.Content("~/salehistory/search?")" + formParams("#search-form .input-search")).load();
        completed_tbResult.ajax.url("@Url.Content("~/salehistory/searchcompleted?")" + formParams("#completed-search-form .input-search")).load();
    }

    function gotoEditById(id) {
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/salehistory/find/")" + id, "addedit-section", _gotoEditById)
        }
    }

    // Callback after ajax completed
    function _gotoEditById(html) {
        _initialAddEditForm();
    }

    function _showSearch(_showSearch) {
        if (_showSearch) {
            $("#search-section").show();
            $("#addedit-section").hide();
        } else {
            $("#search-section").hide();
            $("#addedit-section").show();
        }
    }

</script>