﻿@model Library.Winplus.syslib.customize.homepage.model.HomePage
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
    Library.Winplus.syslib.customize.loginseller.model.LoginSeller loginSeller = new Library.Winplus.syslib.customize.loginseller.repository.LoginSellerRepository().FindByTokenId(Request, Session.SessionID);
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="@Url.Content("~/Resource/img/profile_small.ico")">
    <title>AdEZY.COM</title>
    

    <style>
        .span-required
        {
            padding-left:3px;
            color:red;
        }

    </style>
</head>

<!-- <body class="mini-navbar"> [will auto hide left menu bar]-->
<body>
    <div class="row" style="min-height:500px;">
        <div class="col-sm-12" id="partialpage-form">

        </div>
    </div>

    <script>

        /*<![CDATA[*/
        $(document).ready(function () {
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button";//again because google chrome don't insert first hash into history
            window.onhashchange = function () { window.location.hash = "no-back-button"; }
        });

        function ajaxLoadFormCompleted(html) {
            singlePageLoad();
        }


        function navigateTo(url) {
            ajaxPartialLoad(url, "partialpage-form", ajaxLoadFormCompleted);
        }
        /*]]>*/
    </script>

    @if(loginSeller!=null){
        <script>
            $(document).ready(function () {
                gotoSearchProduct();
            });
        </script>
    }else{
        
        <script>
            $(document).ready(function () {
                gotoLogin();
            });
        </script>
    }
</body>

</html>
