﻿@model Library.Winplus.syslib.customize.loginseller.model.AttempLoginSeller

<section id="Login" class="container" style="padding-top:30px;padding-bottom:30px;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- ******Login Section****** -->
            <section class="login-section access-section section" style="padding-top: 30px; padding-bottom: 30px;">
                        <div class="form-box col-xs-12 col-md-10 center-block">
                            <div class="form-box-inner">
                                <div class="row">
                                    <div class="form-container col-xs-12 col-md-6">
                                        <form class="login-form" action="@Url.Content("~/Login/Checklogin")" method="post" onsubmit="ajaxSubmitForm(event,this,'btn-login',_LoginResponse);">
                                            <h4 class="modal-title" style="margin-bottom: 15px;">@MyResources.Winplus.Resource.SigninToSystem (@MyResources.Winplus.Resource.Email/ @MyResources.Winplus.Resource.PhoneNo)</h4>
                                            <div class="form-group email">
                                                <label class="sr-only" for="login-email">@MyResources.Winplus.Resource.UserName</label>
                                                
			                                    @Html.TextBoxFor(model=>model.Email, new{@class = "form-control login-email",@placeholder=@Html.DisplayNameFor(model => model.Email)+"/ "+@MyResources.Winplus.Resource.PhoneNo,@required=""})
                                            </div><!--//form-group-->
                                            <div class="form-group password">
                                                <label class="sr-only" for="login-password">@MyResources.Winplus.Resource.Password</label>
                                                
                                                @Html.PasswordFor(model=>model.Password, new{@class = "form-control login-password",@placeholder=@Html.DisplayNameFor(model => model.Password),@required="",@value="1234"})
                                                <p class="forgot-password"><a href="@Url.Content("~/ForgotPassword")">@MyResources.Winplus.Resource.ForgotPassword</a></p>
                                            </div><!--//form-group-->
                                            <button id="btn-login" type="submit" style="margin-bottom: 15px;" class="btn btn-block btn-success ladda-button" data-style="expand-left">@MyResources.Winplus.Resource.Login</button>
                                        </form>
                                    </div><!--//form-container-->
                                    <div class="social-btns col-md-offset-1 col-sm-offset-0 col-sm-offset-0 col-xs-12 col-md-5">
                                        <div class="divider"><span>Or</span></div>
                                        <div class="col-md-12 no-padding">
                                            <h4 class="modal-title" style="margin-bottom: 15px;">@MyResources.Winplus.Resource.SignUpNow</h4>
                                            <p>@MyResources.Winplus.Resource.TakeOnly3Minute</p>
                                            <p class="text-center">
                                                <a id="register" href="javascript:gotoRegister();"><i class="fa fa-sign-in" style="font-size:87px; color:#E5E6E7;"></i></a>
                                            </p>
                                            <button type="button" class="btn btn-block btn-cta-primary" onclick="document.getElementById('register').click();">@MyResources.Winplus.Resource.Signup</button>
                                        </div>
                                    </div><!--//social-btns-->
                                </div><!--//row-->
                            </div><!--//form-box-inner-->
                        </div><!--//form-box-->
            </section><!--//contact-section-->
            <div class="clearfix"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>

<script>
    setTimeout(function () { $("#UserName").focus(); }, 10);
    function _LoginResponse(data, status) {
        if (data.StatusCode == "0") {
            var btn = $("#btn-login").ladda();
            btn.ladda("start");

            location.href = "@Url.Content("~/Homepage")";
        } else {
            alert(data.Message);
        }
    }
    function singlePageLoad() {
    }
</script>

 <style>
     .big-icon
     {
         font-size:52px;
     }
     .btn-cta-primary {
        border: none;
     }

     .btn-cta-primary:hover {
        background-color: #3b5998;
        color: #ffffff;
        border: none;
     }
 </style>