﻿@model Library.Winplus.syslib.standard.seller.model.Seller
<div style="margin-top: 30px;">
    <div class="row">
        <div class="col-xs-12 m-b-md">
            <h2>@MyResources.Winplus.Resource.CreateAccount</h2>
        </div>
    </div>
    <div class="row">
        <form action="@Url.Content("~/RegisterSeller/Save")" method="post" onsubmit="ajaxSubmitForm(event,this,'btn-submit',RegisterSellerCallBack)">
            <div class="form-group col-sm-6 col-xs-12">
                @Html.DisplayNameFor(model => model.FirstName)<span class="span-required">*</span>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.FirstName), @required = "" })
            </div>
            <div class="form-group col-sm-6 col-xs-12">
                @Html.DisplayNameFor(model => model.LastName)<span class="span-required">*</span>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.LastName), @required = "" })
            </div>
            <div class="form-group col-sm-6 col-xs-12">
                @Html.DisplayNameFor(model => model.Email)<span class="span-required">*</span>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Email), @required = "" })
            </div>
            <div class="form-group col-sm-6 col-xs-12">
                @Html.DisplayNameFor(model => model.PhoneNo)<span class="span-required">*</span>
                <div class="form-group">
                    <div class="col-xs-5 col-sm-3" style="padding-left:0px;">
                        @Html.DropDownListFor(model => model.CountryCodeId, Model.GetSelectedItems("CountryCode", Model.CountryCodeId, ""), new { @class = "form-control", @required = "" })
                    </div>
                    <div class="col-xs-7 col-sm-5" style="padding-left:0px;">
                        @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.PhoneNo), @required = ""})
                    </div>
                </div>

            </div>
            <div class="form-group col-sm-6 col-xs-12">
                @Html.DisplayNameFor(model => model.Password)<span class="span-required">*</span>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Password), @required = "", @minlength="6"})
            </div>
            <div class="form-group col-sm-6 col-xs-12">
                @MyResources.Winplus.Resource.ReEnterPassword<span class="span-required">*</span>
                @Html.PasswordFor(model => model.ReEnterPassword, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.ReEnterPassword), @required = "", @minlength = "6" })
            </div>            
            <div class="col-xs-12 m-t-md">
                <button id="btn-submit" type="submit" class="btn btn-primary block full-width m-b ladda-button" data-style="expand-left"><i class="fa fa-key"></i> @MyResources.Winplus.Resource.CreateAdezyAccount</button>
            </div>
        </form>
    </div>
</div>
<script>
    function singlePageLoad() {
        bindingStandardField();
    }

    function RegisterSellerCallBack(result) {
        if (result.StatusCode == "0") {
            // Redirect to xx page
            gotoLogin();
        } else {
            alert(result.Message);
        }
    }

</script>

